In [1]:
import os
import pandas as pd
import numpy as np
from pathlib import Path
from dotenv import load_dotenv

from utils import get_season, nfl_weeks_pull, game_keys_pull
from yahoo_query import league_season_data

# TODAY = np.datetime64("today", "D")
TODAY = np.datetime64("2021-09-28")
# TODAY = np.datetime64("2020-09-28")
# TODAY = np.datetime64("2019-09-28")
# TODAY = np.datetime64("2018-09-28")
# TODAY = np.datetime64("2017-09-28")
# TODAY = np.datetime64("2016-09-28")
# TODAY = np.datetime64("2015-09-28")
# TODAY = np.datetime64("2014-09-28")
# TODAY = np.datetime64("2013-09-28")
# TODAY = np.datetime64("2012-09-28")

load_dotenv()

PATH = Path.cwd().parents[0]

NFL_WEEKS = nfl_weeks_pull()
GAME_KEYS = game_keys_pull(first="no")
# SEASON = get_season()
SEASON = TODAY.astype("datetime64[Y]").item().year
LEAGUE_ID = GAME_KEYS[GAME_KEYS["season"] == SEASON]["league_ID"].values[0]
GAME_ID = GAME_KEYS[GAME_KEYS["season"] == SEASON]["game_id"].values[0]
nfl_weeks_list = list(NFL_WEEKS["week"][NFL_WEEKS["game_id"] == GAME_ID])

CONSUMER_KEY = os.getenv("yahoo_client_id")
CONSUMER_SECRET = os.getenv("yahoo_client_secret")

[2022-07-01 15:39:38,301 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x000001916A0F3DF0>
[2022-07-01 15:39:38,302 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
[2022-07-01 15:39:38,302 INFO] [sqlalchemy.engine.Engine.base._execute_context] [raw sql] ()
[2022-07-01 15:39:38,303 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-07-01 15:39:38,303 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('15.0.2000.5',)
[2022-07-01 15:39:38,304 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT schema_name()
[2022-07-01 15:39:38,305 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00044s] ()
[2022-07-01 15:39:38,305 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-07-01 15:39:38,305 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo',)
[2022-07-01 15:39:38,309 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST('test max support' AS NVARCHAR(max))
[2022-07-01 15:39:38,309 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00037s] ()
[2022-07-01 15:39:38,310 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-07-01 15:39:38,310 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('test max support',)
[2022-07-01 15:39:38,311 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x000001916A0F3DF0> checked out from pool
[2022-07-01 15:39:38,313 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-07-01 15:39:38,313 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00038s] ('BASE TABLE', 'NFLWeeks', 'dbo')
[2022-07-01 15:39:38,331 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-07-01 15:39:38,332 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('NFLWeeks',)
[2022-07-01 15:39:38,333 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
[2022-07-01 15:39:38,334 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00041s] ('dbo', 'BASE TABLE')
[2022-07-01 15:39:38,341 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-07-01 15:39:38,342 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('DraftResults',)
[2022-07-01 15:39:38,342 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-07-01 15:39:38,343 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueMetaData',)
[2022-07-01 15:39:38,343 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueSettings',)
[2022-07-01 15:39:38,343 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Matchups',)
[2022-07-01 15:39:38,343 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('NFLWeeks',)
[2022-07-01 15:39:38,344 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Players',)
[2022-07-01 15:39:38,344 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('RosterPositions',)
[2022-07-01 15:39:38,344 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('StatCategories',)
[2022-07-01 15:39:38,345 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('TeamRosters',)
[2022-07-01 15:39:38,345 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Teams',)
[2022-07-01 15:39:38,348 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted, sys.identity_columns.is_identity, CAST(sys.identity_columns.seed_value AS NUMERIC) AS seed_value, CAST(sys.identity_columns.increment_value AS NUMERIC) AS increment_value
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.computed_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT) LEFT OUTER JOIN sys.identity_columns ON sys.identity_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.identity_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT)
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
[2022-07-01 15:39:38,348 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00049s] ('.', '.', 'NFLWeeks', 'dbo')
[2022-07-01 15:39:38,374 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_SCHEMA', 'TABLE_NAME', 'COLUMN_NAME', 'IS_NULLABLE', 'DATA_TYPE', 'ORDINAL_POSITION', 'CHARACTER_MAXIMUM_LENGTH', 'NUMERIC_PRECISION', 'NUMERIC_SCALE', 'COLUMN_DEFAULT', 'COLLATION_NAME', 'definition', 'is_persisted', 'is_identity', 'seed_value', 'increment_value')
[2022-07-01 15:39:38,375 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'NFLWeeks', 'week', 'YES', 'int', 1, None, 10, 0, None, None, None, None, None, None, None)
[2022-07-01 15:39:38,376 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'NFLWeeks', 'end', 'YES', 'nvarchar', 2, 255, None, None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None, None, None)
[2022-07-01 15:39:38,376 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'NFLWeeks', 'start', 'YES', 'nvarchar', 3, 255, None, None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None, None, None)
[2022-07-01 15:39:38,377 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'NFLWeeks', 'game_id', 'YES', 'int', 4, None, 10, 0, None, None, None, None, None, None, None)
[2022-07-01 15:39:38,379 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME], [C].[ORDINAL_POSITION]
[2022-07-01 15:39:38,379 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00044s] ('NFLWeeks', 'dbo')
[2022-07-01 15:39:38,435 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('COLUMN_NAME', 'CONSTRAINT_TYPE', 'CONSTRAINT_NAME')
[2022-07-01 15:39:38,437 INFO] [sqlalchemy.engine.Engine.base._execute_context] WITH fk_info AS (
    SELECT
        ischema_ref_con.constraint_schema,
        ischema_ref_con.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_ref_con.unique_constraint_schema,
        ischema_ref_con.unique_constraint_name,
        ischema_ref_con.match_option,
        ischema_ref_con.update_rule,
        ischema_ref_con.delete_rule,
        ischema_key_col.column_name AS constrained_column
    FROM
        INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS ischema_ref_con
        INNER JOIN
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col ON
            ischema_key_col.table_schema = ischema_ref_con.constraint_schema
            AND ischema_key_col.constraint_name =
            ischema_ref_con.constraint_name
    WHERE ischema_key_col.table_name = CAST(? AS NVARCHAR(max))
        AND ischema_key_col.table_schema = CAST(? AS NVARCHAR(max))
),
constraint_info AS (
    SELECT
        ischema_key_col.constraint_schema,
        ischema_key_col.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_key_col.column_name
    FROM
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col
),
index_info AS (
    SELECT
        sys.schemas.name AS index_schema,
        sys.indexes.name AS index_name,
        sys.index_columns.key_ordinal AS ordinal_position,
        sys.schemas.name AS table_schema,
        sys.objects.name AS table_name,
        sys.columns.name AS column_name
    FROM
        sys.indexes
        INNER JOIN
        sys.objects ON
            sys.objects.object_id = sys.indexes.object_id
        INNER JOIN
        sys.schemas ON
            sys.schemas.schema_id = sys.objects.schema_id
        INNER JOIN
        sys.index_columns ON
            sys.index_columns.object_id = sys.objects.object_id
            AND sys.index_columns.index_id = sys.indexes.index_id
        INNER JOIN
        sys.columns ON
            sys.columns.object_id = sys.indexes.object_id
            AND sys.columns.column_id = sys.index_columns.column_id
)
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        constraint_info.table_schema AS referred_table_schema,
        constraint_info.table_name AS referred_table_name,
        constraint_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN constraint_info ON
            constraint_info.constraint_schema =
                fk_info.unique_constraint_schema
            AND constraint_info.constraint_name =
                fk_info.unique_constraint_name
            AND constraint_info.ordinal_position = fk_info.ordinal_position
    UNION
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        index_info.table_schema AS referred_table_schema,
        index_info.table_name AS referred_table_name,
        index_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN index_info ON
            index_info.index_schema = fk_info.unique_constraint_schema
            AND index_info.index_name = fk_info.unique_constraint_name
            AND index_info.ordinal_position = fk_info.ordinal_position

    ORDER BY fk_info.constraint_schema, fk_info.constraint_name,
        fk_info.ordinal_position

[2022-07-01 15:39:38,437 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00049s] ('NFLWeeks', 'dbo')
[2022-07-01 15:39:38,639 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('constraint_schema', 'constraint_name', 'ordinal_position', 'constrained_column', 'referred_table_schema', 'referred_table_name', 'referred_column', 'match_option', 'update_rule', 'delete_rule')
[2022-07-01 15:39:38,640 INFO] [sqlalchemy.engine.Engine.base._execute_context] select ind.index_id, ind.is_unique, ind.name, ind.filter_definition from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0
[2022-07-01 15:39:38,641 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00042s] ('NFLWeeks', 'dbo')
[2022-07-01 15:39:38,657 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('index_id', 'is_unique', 'name', 'filter_definition')
[2022-07-01 15:39:38,658 INFO] [sqlalchemy.engine.Engine.base._execute_context] select ind_col.index_id, ind_col.object_id, col.name, ind_col.is_included_column from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max))
[2022-07-01 15:39:38,658 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00036s] ('NFLWeeks', 'dbo')
[2022-07-01 15:39:38,676 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('index_id', 'object_id', 'name', 'is_included_column')
[2022-07-01 15:39:38,678 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [NFLWeeks].week, [NFLWeeks].[end], [NFLWeeks].start, [NFLWeeks].game_id
FROM [NFLWeeks]
[2022-07-01 15:39:38,678 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00037s] ()
[2022-07-01 15:39:38,680 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('week', 'end', 'start', 'game_id')
[2022-07-01 15:39:38,680 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (1, '2012-09-10', '2012-09-05', 273)
[2022-07-01 15:39:38,681 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (2, '2012-09-17', '2012-09-11', 273)
[2022-07-01 15:39:38,681 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (3, '2012-09-24', '2012-09-18', 273)
[2022-07-01 15:39:38,681 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (4, '2012-10-01', '2012-09-25', 273)
[2022-07-01 15:39:38,681 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (5, '2012-10-08', '2012-10-02', 273)
[2022-07-01 15:39:38,682 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (6, '2012-10-15', '2012-10-09', 273)
[2022-07-01 15:39:38,682 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (7, '2012-10-22', '2012-10-16', 273)
[2022-07-01 15:39:38,682 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (8, '2012-10-29', '2012-10-23', 273)
[2022-07-01 15:39:38,683 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (9, '2012-11-05', '2012-10-30', 273)
[2022-07-01 15:39:38,683 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (10, '2012-11-12', '2012-11-06', 273)
[2022-07-01 15:39:38,683 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (11, '2012-11-19', '2012-11-13', 273)
[2022-07-01 15:39:38,684 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (12, '2012-11-26', '2012-11-20', 273)
[2022-07-01 15:39:38,684 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (13, '2012-12-03', '2012-11-27', 273)
[2022-07-01 15:39:38,684 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (14, '2012-12-10', '2012-12-04', 273)
[2022-07-01 15:39:38,684 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (15, '2012-12-17', '2012-12-11', 273)
[2022-07-01 15:39:38,685 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (16, '2012-12-24', '2012-12-18', 273)
[2022-07-01 15:39:38,685 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (17, '2012-12-30', '2012-12-25', 273)
[2022-07-01 15:39:38,685 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (1, '2013-09-09', '2013-09-05', 314)
[2022-07-01 15:39:38,686 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (2, '2013-09-16', '2013-09-10', 314)
[2022-07-01 15:39:38,686 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (3, '2013-09-23', '2013-09-17', 314)
[2022-07-01 15:39:38,686 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (4, '2013-09-30', '2013-09-24', 314)
[2022-07-01 15:39:38,687 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (5, '2013-10-07', '2013-10-01', 314)
[2022-07-01 15:39:38,687 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (6, '2013-10-14', '2013-10-08', 314)
[2022-07-01 15:39:38,687 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (7, '2013-10-21', '2013-10-15', 314)
[2022-07-01 15:39:38,687 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (8, '2013-10-28', '2013-10-22', 314)
[2022-07-01 15:39:38,688 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (9, '2013-11-04', '2013-10-29', 314)
[2022-07-01 15:39:38,688 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (10, '2013-11-11', '2013-11-05', 314)
[2022-07-01 15:39:38,688 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (11, '2013-11-18', '2013-11-12', 314)
[2022-07-01 15:39:38,689 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (12, '2013-11-25', '2013-11-19', 314)
[2022-07-01 15:39:38,689 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (13, '2013-12-02', '2013-11-26', 314)
[2022-07-01 15:39:38,689 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (14, '2013-12-09', '2013-12-03', 314)
[2022-07-01 15:39:38,690 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (15, '2013-12-16', '2013-12-10', 314)
[2022-07-01 15:39:38,690 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (16, '2013-12-23', '2013-12-17', 314)
[2022-07-01 15:39:38,690 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (17, '2013-12-29', '2013-12-24', 314)
[2022-07-01 15:39:38,691 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (1, '2014-09-08', '2014-09-04', 331)
[2022-07-01 15:39:38,691 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (2, '2014-09-15', '2014-09-09', 331)
[2022-07-01 15:39:38,691 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (3, '2014-09-22', '2014-09-16', 331)
[2022-07-01 15:39:38,691 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (4, '2014-09-29', '2014-09-23', 331)
[2022-07-01 15:39:38,692 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (5, '2014-10-06', '2014-09-30', 331)
[2022-07-01 15:39:38,692 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (6, '2014-10-13', '2014-10-07', 331)
[2022-07-01 15:39:38,692 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (7, '2014-10-20', '2014-10-14', 331)
[2022-07-01 15:39:38,692 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (8, '2014-10-27', '2014-10-21', 331)
[2022-07-01 15:39:38,693 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (9, '2014-11-03', '2014-10-28', 331)
[2022-07-01 15:39:38,693 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (10, '2014-11-10', '2014-11-04', 331)
[2022-07-01 15:39:38,693 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (11, '2014-11-17', '2014-11-11', 331)
[2022-07-01 15:39:38,694 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (12, '2014-11-24', '2014-11-18', 331)
[2022-07-01 15:39:38,694 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (13, '2014-12-01', '2014-11-25', 331)
[2022-07-01 15:39:38,694 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (14, '2014-12-08', '2014-12-02', 331)
[2022-07-01 15:39:38,694 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (15, '2014-12-15', '2014-12-09', 331)
[2022-07-01 15:39:38,695 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (16, '2014-12-22', '2014-12-16', 331)
[2022-07-01 15:39:38,695 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (17, '2014-12-28', '2014-12-23', 331)
[2022-07-01 15:39:38,695 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (1, '2015-09-14', '2015-09-10', 348)
[2022-07-01 15:39:38,696 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row (2, '2015-09-21', '2015-09-15', 348)

NFLWeeks successfully pulled from SQL server.

[2022-07-01 15:39:39,746 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x000001916A598030>
[2022-07-01 15:39:39,746 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
[2022-07-01 15:39:39,747 INFO] [sqlalchemy.engine.Engine.base._execute_context] [raw sql] ()
[2022-07-01 15:39:39,747 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-07-01 15:39:39,748 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('15.0.2000.5',)
[2022-07-01 15:39:39,748 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT schema_name()
[2022-07-01 15:39:39,749 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00038s] ()
[2022-07-01 15:39:39,749 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-07-01 15:39:39,750 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo',)
[2022-07-01 15:39:39,750 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST('test max support' AS NVARCHAR(max))
[2022-07-01 15:39:39,751 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00028s] ()
[2022-07-01 15:39:39,751 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-07-01 15:39:39,751 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('test max support',)
[2022-07-01 15:39:39,752 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x000001916A598030> checked out from pool
[2022-07-01 15:39:39,753 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-07-01 15:39:39,754 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00049s] ('BASE TABLE', 'GameKeys', 'dbo')
[2022-07-01 15:39:39,754 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-07-01 15:39:39,755 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-07-01 15:39:39,755 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
[2022-07-01 15:39:39,756 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00032s] ('dbo', 'BASE TABLE')
[2022-07-01 15:39:39,758 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-07-01 15:39:39,758 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('DraftResults',)
[2022-07-01 15:39:39,759 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-07-01 15:39:39,759 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueMetaData',)
[2022-07-01 15:39:39,759 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueSettings',)
[2022-07-01 15:39:39,759 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Matchups',)
[2022-07-01 15:39:39,760 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('NFLWeeks',)
[2022-07-01 15:39:39,760 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Players',)
[2022-07-01 15:39:39,760 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('RosterPositions',)
[2022-07-01 15:39:39,761 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('StatCategories',)
[2022-07-01 15:39:39,761 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('TeamRosters',)
[2022-07-01 15:39:39,761 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Teams',)
[2022-07-01 15:39:39,764 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted, sys.identity_columns.is_identity, CAST(sys.identity_columns.seed_value AS NUMERIC) AS seed_value, CAST(sys.identity_columns.increment_value AS NUMERIC) AS increment_value
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.computed_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT) LEFT OUTER JOIN sys.identity_columns ON sys.identity_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.identity_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT)
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
[2022-07-01 15:39:39,764 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00050s] ('.', '.', 'GameKeys', 'dbo')
[2022-07-01 15:39:39,766 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_SCHEMA', 'TABLE_NAME', 'COLUMN_NAME', 'IS_NULLABLE', 'DATA_TYPE', 'ORDINAL_POSITION', 'CHARACTER_MAXIMUM_LENGTH', 'NUMERIC_PRECISION', 'NUMERIC_SCALE', 'COLUMN_DEFAULT', 'COLLATION_NAME', 'definition', 'is_persisted', 'is_identity', 'seed_value', 'increment_value')
[2022-07-01 15:39:39,767 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'code', 'YES', 'nvarchar', 1, 255, None, None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None, None, None)
[2022-07-01 15:39:39,767 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'game_id', 'YES', 'int', 2, None, 10, 0, None, None, None, None, None, None, None)
[2022-07-01 15:39:39,767 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'game_key', 'YES', 'nvarchar', 3, 255, None, None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None, None, None)
[2022-07-01 15:39:39,768 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'is_game_over', 'YES', 'int', 4, None, 10, 0, None, None, None, None, None, None, None)
[2022-07-01 15:39:39,768 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'is_offseason', 'YES', 'int', 5, None, 10, 0, None, None, None, None, None, None, None)
[2022-07-01 15:39:39,769 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'is_registration_over', 'YES', 'int', 6, None, 10, 0, None, None, None, None, None, None, None)
[2022-07-01 15:39:39,769 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'name', 'YES', 'nvarchar', 7, 255, None, None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None, None, None)
[2022-07-01 15:39:39,770 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'season', 'YES', 'int', 8, None, 10, 0, None, None, None, None, None, None, None)
[2022-07-01 15:39:39,770 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'type', 'YES', 'nvarchar', 9, 255, None, None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None, None, None)
[2022-07-01 15:39:39,771 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'url', 'YES', 'nvarchar', 10, 255, None, None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None, None, None)
[2022-07-01 15:39:39,771 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'league_ID', 'YES', 'int', 11, None, 10, 0, None, None, None, None, None, None, None)
[2022-07-01 15:39:39,773 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME], [C].[ORDINAL_POSITION]
[2022-07-01 15:39:39,773 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00043s] ('GameKeys', 'dbo')
[2022-07-01 15:39:39,774 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('COLUMN_NAME', 'CONSTRAINT_TYPE', 'CONSTRAINT_NAME')
[2022-07-01 15:39:39,775 INFO] [sqlalchemy.engine.Engine.base._execute_context] WITH fk_info AS (
    SELECT
        ischema_ref_con.constraint_schema,
        ischema_ref_con.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_ref_con.unique_constraint_schema,
        ischema_ref_con.unique_constraint_name,
        ischema_ref_con.match_option,
        ischema_ref_con.update_rule,
        ischema_ref_con.delete_rule,
        ischema_key_col.column_name AS constrained_column
    FROM
        INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS ischema_ref_con
        INNER JOIN
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col ON
            ischema_key_col.table_schema = ischema_ref_con.constraint_schema
            AND ischema_key_col.constraint_name =
            ischema_ref_con.constraint_name
    WHERE ischema_key_col.table_name = CAST(? AS NVARCHAR(max))
        AND ischema_key_col.table_schema = CAST(? AS NVARCHAR(max))
),
constraint_info AS (
    SELECT
        ischema_key_col.constraint_schema,
        ischema_key_col.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_key_col.column_name
    FROM
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col
),
index_info AS (
    SELECT
        sys.schemas.name AS index_schema,
        sys.indexes.name AS index_name,
        sys.index_columns.key_ordinal AS ordinal_position,
        sys.schemas.name AS table_schema,
        sys.objects.name AS table_name,
        sys.columns.name AS column_name
    FROM
        sys.indexes
        INNER JOIN
        sys.objects ON
            sys.objects.object_id = sys.indexes.object_id
        INNER JOIN
        sys.schemas ON
            sys.schemas.schema_id = sys.objects.schema_id
        INNER JOIN
        sys.index_columns ON
            sys.index_columns.object_id = sys.objects.object_id
            AND sys.index_columns.index_id = sys.indexes.index_id
        INNER JOIN
        sys.columns ON
            sys.columns.object_id = sys.indexes.object_id
            AND sys.columns.column_id = sys.index_columns.column_id
)
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        constraint_info.table_schema AS referred_table_schema,
        constraint_info.table_name AS referred_table_name,
        constraint_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN constraint_info ON
            constraint_info.constraint_schema =
                fk_info.unique_constraint_schema
            AND constraint_info.constraint_name =
                fk_info.unique_constraint_name
            AND constraint_info.ordinal_position = fk_info.ordinal_position
    UNION
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        index_info.table_schema AS referred_table_schema,
        index_info.table_name AS referred_table_name,
        index_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN index_info ON
            index_info.index_schema = fk_info.unique_constraint_schema
            AND index_info.index_name = fk_info.unique_constraint_name
            AND index_info.ordinal_position = fk_info.ordinal_position

    ORDER BY fk_info.constraint_schema, fk_info.constraint_name,
        fk_info.ordinal_position

[2022-07-01 15:39:39,775 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00037s] ('GameKeys', 'dbo')
[2022-07-01 15:39:39,778 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('constraint_schema', 'constraint_name', 'ordinal_position', 'constrained_column', 'referred_table_schema', 'referred_table_name', 'referred_column', 'match_option', 'update_rule', 'delete_rule')
[2022-07-01 15:39:39,778 INFO] [sqlalchemy.engine.Engine.base._execute_context] select ind.index_id, ind.is_unique, ind.name, ind.filter_definition from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0
[2022-07-01 15:39:39,779 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00044s] ('GameKeys', 'dbo')
[2022-07-01 15:39:39,779 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('index_id', 'is_unique', 'name', 'filter_definition')
[2022-07-01 15:39:39,780 INFO] [sqlalchemy.engine.Engine.base._execute_context] select ind_col.index_id, ind_col.object_id, col.name, ind_col.is_included_column from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max))
[2022-07-01 15:39:39,781 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00037s] ('GameKeys', 'dbo')
[2022-07-01 15:39:39,781 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('index_id', 'object_id', 'name', 'is_included_column')
[2022-07-01 15:39:39,782 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [GameKeys].code, [GameKeys].game_id, [GameKeys].game_key, [GameKeys].is_game_over, [GameKeys].is_offseason, [GameKeys].is_registration_over, [GameKeys].name, [GameKeys].season, [GameKeys].type, [GameKeys].url, [GameKeys].[league_ID]
FROM [GameKeys]
[2022-07-01 15:39:39,783 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00033s] ()
[2022-07-01 15:39:39,784 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('code', 'game_id', 'game_key', 'is_game_over', 'is_offseason', 'is_registration_over', 'name', 'season', 'type', 'url', 'league_ID')
[2022-07-01 15:39:39,784 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('nfl', 273, '273', 1, 1, 1, 'Football', 2012, 'full', 'https://football.fantasysports.yahoo.com/2012/f1', 777818)
[2022-07-01 15:39:39,784 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('nfl', 314, '314', 1, 1, 1, 'Football', 2013, 'full', 'https://football.fantasysports.yahoo.com/2013/f1', 731544)
[2022-07-01 15:39:39,785 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('nfl', 331, '331', 1, 1, 1, 'Football', 2014, 'full', 'https://football.fantasysports.yahoo.com/2014/f1', 793441)
[2022-07-01 15:39:39,785 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('nfl', 348, '348', 1, 1, 1, 'Football', 2015, 'full', 'https://football.fantasysports.yahoo.com/2015/f1', 570821)
[2022-07-01 15:39:39,785 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('nfl', 359, '359', 1, 1, 1, 'Football', 2016, 'full', 'https://football.fantasysports.yahoo.com/2016/f1', 185373)
[2022-07-01 15:39:39,785 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('nfl', 371, '371', 1, 1, 1, 'Football', 2017, 'full', 'https://football.fantasysports.yahoo.com/2017/f1', 525547)
[2022-07-01 15:39:39,786 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('nfl', 380, '380', 1, 1, 1, 'Football', 2018, 'full', 'https://football.fantasysports.yahoo.com/2018/f1', 236583)
[2022-07-01 15:39:39,786 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('nfl', 390, '390', 1, 1, 1, 'Football', 2019, 'full', 'https://football.fantasysports.yahoo.com/2019/f1', 215172)
[2022-07-01 15:39:39,786 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('nfl', 399, '399', 1, 1, 1, 'Football', 2020, 'full', 'https://football.fantasysports.yahoo.com/2020/f1', 12514)
[2022-07-01 15:39:39,786 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('nfl', 406, '406', 1, 1, 1, 'Football', 2021, 'full', 'https://football.fantasysports.yahoo.com/2021/f1', 103661)
[2022-07-01 15:39:39,787 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('nfl', 414, '414', 0, 0, 0, 'Football', 2022, 'full', 'https://football.fantasysports.yahoo.com/f1', 77446)
[2022-07-01 15:39:39,789 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x000001916A598030> being returned to pool
[2022-07-01 15:39:39,790 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x000001916A598030> rollback-on-return

GameKeys successfully pulled from SQL server.

In [2]:
league = league_season_data(
    auth_dir=PATH,
    league_id=LEAGUE_ID,
    game_id=GAME_ID,
    game_code="nfl",
    offline=False,
    all_output_as_json=False,
    consumer_key=CONSUMER_KEY,
    consumer_secret=CONSUMER_SECRET,
    browser_callback=True,
)
# game_keys = league.all_game_keys()
# nfl_weeks = league.all_nfl_weeks()

# meta = league.metadata(first_time=first_time)
# settings, roster, stat_cat = league.set_roster_pos_stat_cat(first_time=first_time)
# draft = league.draft_results(first_time=first_time)
# teams = league.teams_and_standings(first_time="no")

# for week in nfl_weeks_list[:-1]:
#     matchups = league.matchups_by_week(first_time='no', nfl_week=week)

# players = league.players_list(first_time="no")
# players.to_csv(f"players_{str(SEASON)}.csv", index=False)

# for week in nfl_weeks_list[:-1]:
#     week_roster = league.team_roster_by_week(first_time='no', nfl_week=week)

for week in nfl_weeks_list[:-1]:
    week_stats = league.player_stats_by_week(first_time="no", nfl_week=week)

pd.set_option("display.max_columns", 999)
week_stats

Error with player stats at player_key 406.p.28477 and week 1.
Yahoo data unavailable due to rate limiting. Please try again later.
Retrying in 30 minutes.