In [1]:
import pandas as pd
import numpy as np
import os
import logging
from pathlib import Path
from yfpy import YahooFantasySportsQuery
from yfpy.utils import complex_json_handler, unpack_data
from yfpy import get_logger
from dotenv import load_dotenv
from ratelimit import limits, sleep_and_retry
from gspread_pandas import Spread

from utils import (
    get_season,
    league_season_info,
    google_sheet_upload,
    sql_upload_table,
    sql_grab_table,
)


load_dotenv()
pd.set_option("display.max_colwidth", 999)
pd.set_option("display.max_columns", 999)
LOGGET = get_logger(__name__)
LOG_OUTPUT = False
logging.getLogger("yfpy.query").setLevel(level=logging.INFO)

PATH = Path.cwd().parents[0]
DATA_DIR = PATH / "data"

SEASON = get_season()
NFL_DATES_DF, LEAGUE_ID_DF = league_season_info()

# TODAY = np.datetime64("today", "D")
TODAY = np.datetime64("2021-09-28")
NFL_WEEK = NFL_DATES_DF["Week"][
    (NFL_DATES_DF["End_Date"] >= TODAY) & (NFL_DATES_DF["Start_Date"] <= TODAY)
].values[0]
LEAGUE_ID = LEAGUE_ID_DF[LEAGUE_ID_DF["season"] == SEASON]["league_ID"].values[0]
GAME_ID = LEAGUE_ID_DF[LEAGUE_ID_DF["season"] == SEASON]["game_ID"].values[0]
WEEKS = list(range(NFL_WEEK, 0, -1))

CONSUMER_KEY = os.getenv("yahoo_client_id")
CONSUMER_SECRET = os.getenv("yahoo_client_secret")

try:
    yahoo_query = YahooFantasySportsQuery(
        auth_dir=PATH,
        league_id=LEAGUE_ID,
        game_id=GAME_ID,
        game_code="nfl",
        offline=False,
        all_output_as_json=False,
        consumer_key=CONSUMER_KEY,
        consumer_secret=CONSUMER_SECRET,
        browser_callback=True,
    )


except Exception as e:
    print(e)

In [2]:
class league_season_data(object):

    rate_limited_time = 3
    rate_limited_calls = 1

    def __init__(
        self,
        auth_dir: Path,
        league_id: str,
        game_id: int = None,
        game_code: str = "nfl",
        offline: bool = False,
        all_output_as_json: bool = False,
        consumer_key: str = None,
        consumer_secret: str = None,
        browser_callback: bool = True,
    ):

        self._auth_dir = auth_dir
        self._consumer_key = consumer_key
        self._consumer_secret = consumer_secret
        self._browser_callback = browser_callback

        self.league_id = league_id
        self.game_id = game_id
        self.game_code = game_code

        self.offline = offline
        self.all_output_as_json = all_output_as_json

    def _yahoo_query(self):

        try:
            yahoo_query = YahooFantasySportsQuery(
                auth_dir=self._auth_dir,
                league_id=self.league_id,
                game_id=self.game_id,
                game_code=self.game_code,
                offline=self.offline,
                all_output_as_json=self.all_output_as_json,
                consumer_key=self._consumer_key,
                consumer_secret=self._consumer_secret,
                browser_callback=self._browser_callback,
            )

            return yahoo_query

        except Exception as e:
            print(e)

    @sleep_and_retry
    @limits(calls=rate_limited_calls, period=rate_limited_time)
    def metadata(self, first_time="no"):
        response = complex_json_handler(yahoo_query.get_league_metadata())
        league_metadata = pd.json_normalize(response)

        league_metadata["game_id"] = self.game_id

        if str(first_time).upper() == "YES":
            sql_upload_table(
                dataframe=league_metadata,
                table_name="LeagueMetaData",
                data_schema="dbo",
                chunksize=500,
                if_exists="replace",
                index=False,
            )

        elif str(first_time).upper() == "NO":
            sql_upload_table(
                dataframe=league_metadata,
                table_name="LeagueMetaData",
                data_schema="dbo",
                chunksize=500,
                if_exists="append",
                index=False,
            )

        return league_metadata

    @sleep_and_retry
    @limits(calls=rate_limited_calls, period=rate_limited_time)
    def set_roster_pos_stat_cat(self, first_time="no"):
        response = complex_json_handler(yahoo_query.get_league_settings())

        league_settings = pd.json_normalize(response)
        league_settings.drop(
            ["roster_positions", "stat_categories.stats", "stat_modifiers.stats"],
            axis=1,
            inplace=True,
        )

        league_settings["game_id"] = self.game_id
        league_settings["league_id"] = self.league_id

        roster_positions = pd.DataFrame()
        for r in response["roster_positions"]:
            row = pd.json_normalize(complex_json_handler(r["roster_position"]))
            roster_positions = pd.concat([roster_positions, row])

        roster_positions["game_id"] = self.game_id
        roster_positions["league_id"] = self.league_id

        stat_categories = pd.DataFrame()
        for r in response["stat_categories"]["stats"]:
            row = pd.json_normalize(complex_json_handler(r["stat"]))
            row["position_type"] = complex_json_handler(
                complex_json_handler(r["stat"])["stat_position_types"][
                    "stat_position_type"
                ]
            )["position_type"]
            try:
                row["is_only_display_stat"] = complex_json_handler(
                    complex_json_handler(r["stat"])["stat_position_types"][
                        "stat_position_type"
                    ]
                )["is_only_display_stat"]
            except:
                row["is_only_display_stat"] = 0
            row.drop("stat_position_types.stat_position_type", axis=1, inplace=True)
            stat_categories = pd.concat([stat_categories, row])

        stat_categories["game_id"] = self.game_id
        stat_categories["league_id"] = self.league_id

        stat_modifiers = pd.DataFrame()
        for r in response["stat_modifiers"]["stats"]:
            row = pd.json_normalize(complex_json_handler(r["stat"]))
            stat_modifiers = pd.concat([stat_modifiers, row])

        stat_modifiers.rename(columns={"value": "stat_modifier"}, inplace=True)

        stat_categories = stat_categories.merge(
            stat_modifiers, how="outer", on="stat_id"
        )

        if str(first_time).upper() == "YES":
            sql_upload_table(
                dataframe=league_settings,
                table_name="LeagueSettings",
                data_schema="dbo",
                chunksize=500,
                if_exists="replace",
                index=False,
            )

            sql_upload_table(
                dataframe=roster_positions,
                table_name="RosterPositions",
                data_schema="dbo",
                chunksize=500,
                if_exists="replace",
                index=False,
            )

            sql_upload_table(
                dataframe=stat_categories,
                table_name="StatCategories",
                data_schema="dbo",
                chunksize=500,
                if_exists="replace",
                index=False,
            )

        elif str(first_time).upper() == "NO":
            sql_upload_table(
                dataframe=league_settings,
                table_name="LeagueSettings",
                data_schema="dbo",
                chunksize=500,
                if_exists="append",
                index=False,
            )

            sql_upload_table(
                dataframe=roster_positions,
                table_name="RosterPositions",
                data_schema="dbo",
                chunksize=500,
                if_exists="append",
                index=False,
            )

            sql_upload_table(
                dataframe=stat_categories,
                table_name="StatCategories",
                data_schema="dbo",
                chunksize=500,
                if_exists="append",
                index=False,
            )

        return league_settings, roster_positions, stat_categories

    @sleep_and_retry
    @limits(calls=rate_limited_calls, period=rate_limited_time)
    def teams_list(self, first_time="no"):
        response = yahoo_query.get_league_teams()
        teams = pd.DataFrame()
        for r in response:
            team = pd.json_normalize(complex_json_handler(r["team"]))
            manager = pd.json_normalize(
                complex_json_handler(team["managers.manager"][0])
            )
            team = pd.concat([team, manager], axis=1)
            if "clinched_playoffs" not in team.columns:
                team["clinched_playoffs"] = 0
            teams = pd.concat([teams, team], ignore_index=True).reset_index(drop=True)
            teams.drop(
                ["url", "managers.manager", "team_logos.team_logo", "image_url"],
                axis=1,
                inplace=True,
            )

        teams["name"] = teams["name"].str.decode("utf-8")

        teams["game_id"] = self.game_id
        teams["league_id"] = self.league_id

        if str(first_time).upper() == "YES":
            sql_upload_table(
                dataframe=teams,
                table_name="Teams",
                data_schema="dbo",
                chunksize=500,
                if_exists="replace",
                index=False,
            )

        elif str(first_time).upper() == "NO":
            sql_upload_table(
                dataframe=teams,
                table_name="Teams",
                data_schema="dbo",
                chunksize=500,
                if_exists="append",
                index=False,
            )

        return teams

    @sleep_and_retry
    @limits(calls=rate_limited_calls, period=rate_limited_time)
    def players_list(self, first_time="no"):
        response = yahoo_query.get_league_players()
        players = pd.DataFrame()
        for r in response:
            player = pd.json_normalize(complex_json_handler(r["player"]))
            draft_analysis = pd.json_normalize(
                complex_json_handler(
                    yahoo_query.get_player_draft_analysis(player["player_key"][0])
                )
            )
            draft_analysis = draft_analysis[
                [
                    "draft_analysis.average_pick",
                    "draft_analysis.average_round",
                    "draft_analysis.average_cost",
                    "draft_analysis.percent_drafted",
                ]
            ]
            player = pd.concat([player, draft_analysis], axis=1)
            if "status" not in player.columns:
                player["status"] = np.nan

            players = pd.concat([players, player], ignore_index=True)

            players["game_id"] = self.game_id
            players["league_id"] = self.league_id

        if str(first_time).upper() == "YES":
            sql_upload_table(
                dataframe=players,
                table_name="Players",
                data_schema="dbo",
                chunksize=500,
                if_exists="replace",
                index=False,
            )

        elif str(first_time).upper() == "NO":
            sql_upload_table(
                dataframe=players,
                table_name="Players",
                data_schema="dbo",
                chunksize=500,
                if_exists="append",
                index=False,
            )

        return players

    @sleep_and_retry
    @limits(calls=rate_limited_calls, period=rate_limited_time)
    def draft_results(self, first_time="no"):
        response = yahoo_query.get_league_draft_results()
        draft_results = pd.DataFrame()
        for r in response:
            row = pd.json_normalize(complex_json_handler(r["draft_result"]))
            draft_results = pd.concat([draft_results, row])

        draft_results["game_id"] = self.game_id
        draft_results["league_id"] = self.league_id

        if str(first_time).upper() == "YES":
            sql_upload_table(
                dataframe=draft_results,
                table_name="DraftResults",
                data_schema="dbo",
                chunksize=500,
                if_exists="replace",
                index=False,
            )

        elif str(first_time).upper() == "NO":
            sql_upload_table(
                dataframe=draft_results,
                table_name="DraftResults",
                data_schema="dbo",
                chunksize=500,
                if_exists="append",
                index=False,
            )

        return draft_results

    @sleep_and_retry
    @limits(calls=rate_limited_calls, period=rate_limited_time)
    def matchups_by_week(self, first_time="no"):
        m = []
        i = 0
        while True:
            try:
                response = yahoo_query.get_league_matchups_by_week(i)
                if bool(response) == True:
                    for data in response:
                        m.append(complex_json_handler(data["matchup"]))
                    i += 1
                else:
                    break
            except:
                break

        matchups = pd.DataFrame()
        for r in m:
            matchup = pd.json_normalize(r)
            team_a = pd.json_normalize(
                complex_json_handler(r["matchup_grades"][0]["matchup_grade"])
            )
            team_a["points"] = complex_json_handler(r["teams"][0]["team"])[
                "team_points"
            ]["total"]
            team_a["projected_points"] = complex_json_handler(r["teams"][0]["team"])[
                "team_projected_points"
            ]["total"]
            team_a = team_a.add_prefix("team_a_")
            team_b = pd.json_normalize(
                complex_json_handler(r["matchup_grades"][1]["matchup_grade"])
            )
            team_b["points"] = complex_json_handler(r["teams"][1]["team"])[
                "team_points"
            ]["total"]
            team_b["projected_points"] = complex_json_handler(r["teams"][1]["team"])[
                "team_projected_points"
            ]["total"]
            team_b = team_b.add_prefix("team_b_")
            matchup = pd.concat([matchup, team_a, team_b], axis=1)

            matchups = pd.concat([matchups, matchup])

        matchups.drop(["teams", "matchup_grades"], axis=1, inplace=True)

        matchups["game_id"] = self.game_id
        matchups["league_id"] = self.league_id

        if str(first_time).upper() == "YES":
            sql_upload_table(
                dataframe=matchups,
                table_name="Matchups",
                data_schema="dbo",
                chunksize=500,
                if_exists="replace",
                index=False,
            )

        elif str(first_time).upper() == "NO":
            sql_upload_table(
                dataframe=matchups,
                table_name="Matchups",
                data_schema="dbo",
                chunksize=500,
                if_exists="append",
                index=False,
            )

        return matchups

    @sleep_and_retry
    @limits(calls=rate_limited_calls, period=rate_limited_time)
    def team_standings(self, first_time="no"):
        standings = pd.DataFrame()
        i = 1
        while True:
            try:
                response = yahoo_query.get_team_standings(i)
                if bool(response) == True:
                    row = pd.json_normalize(complex_json_handler(response))
                    row["team_id"] = i
                    standings = pd.concat([standings, row])
                    i += 1
                else:
                    break
            except:
                break

        standings["game_id"] = self.game_id
        standings["league_id"] = self.league_id

        if str(first_time).upper() == "YES":
            sql_upload_table(
                dataframe=standings,
                table_name="Standings",
                data_schema="dbo",
                chunksize=500,
                if_exists="replace",
                index=False,
            )

        elif str(first_time).upper() == "NO":
            sql_upload_table(
                dataframe=standings,
                table_name="Standings",
                data_schema="dbo",
                chunksize=500,
                if_exists="append",
                index=False,
            )

        return standings

    @sleep_and_retry
    @limits(calls=rate_limited_calls, period=rate_limited_time)
    def team_roster_by_week(self, first_time="no"):
        team_rosters = pd.DataFrame()
        t = 1
        w = 1
        for t in range(1, 12):
            try:
                for w in range(1, 18):
                    try:
                        response = complex_json_handler(
                            yahoo_query.get_team_roster_by_week(t, w)
                        )
                        if bool(response) == True:
                            row = pd.json_normalize(
                                complex_json_handler(response["players"][0]["player"])
                            )
                            row["team_id"] = t
                            row["week"] = w
                            team_rosters = pd.concat([team_rosters, row])
                        else:
                            break
                    except:
                        break
            except:
                break

        team_rosters["game_id"] = self.game_id
        team_rosters["league_id"] = self.league_id

        if str(first_time).upper() == "YES":
            sql_upload_table(
                dataframe=team_rosters,
                table_name="TeamRosters",
                data_schema="dbo",
                chunksize=500,
                if_exists="replace",
                index=False,
            )

        elif str(first_time).upper() == "NO":
            sql_upload_table(
                dataframe=team_rosters,
                table_name="TeamRosters",
                data_schema="dbo",
                chunksize=500,
                if_exists="append",
                index=False,
            )

        return team_rosters

    @sleep_and_retry
    @limits(calls=rate_limited_calls, period=rate_limited_time)
    def player_stats_by_week(self, first_time="no"):
        players = sql_grab_table("Players")
        player_keys = list(players["player_keys"])
        player_stats = pd.DataFrame()
        for k in player_keys:
            i = 0
            while True:
                try:
                    r1 = yahoo_query.get_player_stats_by_week(k, i)
                    r2 = yahoo_query.get_player_percent_owned_by_week(k, i)
                    if bool(r1) == True and bool(2) == True:
                        data = complex_json_handler(r1)
                        player = pd.json_normalize(data)
                        stats = data["player_stats"]["stats"]
                        player_stats = pd.DataFrame()
                        for r in stats:
                            stat = pd.json_normalize(complex_json_handler(r["stat"]))
                            stat["player_key"] = player["player_key"]
                            stat["week"] = player["player_stats.week"]
                            stat["total_points_week"] = player["player_points.total"]
                            player_stats = pd.concat([player_stats, stat])

                        ownership = pd.json_normalize(complex_json_handler(r2))
                        ownership = ownership[
                            ["player_key", "percent_owned.value", "percent_owned.delta"]
                        ]

                        player_stats = player_stats.merge(
                            ownership,
                            how="outer",
                            left_on="player_key",
                            right_on="player_key",
                        )
                        i += 1
                    else:
                        break
                except:
                    break

        player_stats["game_id"] = self.game_id
        player_stats["league_id"] = self.leauge_id

        if str(first_time).upper() == "YES":
            sql_upload_table(
                dataframe=player_stats,
                table_name="PlayerStats",
                data_schema="dbo",
                chunksize=500,
                if_exists="replace",
                index=False,
            )

        elif str(first_time).upper() == "NO":
            sql_upload_table(
                dataframe=player_stats,
                table_name="PlayerStats",
                data_schema="dbo",
                chunksize=500,
                if_exists="append",
                index=False,
            )

        return player_stats

    @sleep_and_retry
    @limits(calls=rate_limited_calls, period=rate_limited_time)
    def all_game_keys(self):
        response = unpack_data(yahoo_query.get_all_yahoo_fantasy_game_keys())
        game_keys = pd.DataFrame()
        for r in response:
            row = pd.DataFrame(complex_json_handler(r["game"]), index=[0])
            game_keys = pd.concat([game_keys, row])

        game_keys.reset_index(drop=True, inplace=True)
        game_keys = game_keys[game_keys["season"] >= 2012]

        sql_upload_table(
            dataframe=game_keys,
            table_name="GameKeys",
            data_schema="dbo",
            chunksize=500,
            if_exists="replace",
            index=False,
        )

        return game_keys

    @sleep_and_retry
    @limits(calls=rate_limited_calls, period=rate_limited_time)
    def all_nfl_weeks(self):
        game_keys = sql_grab_table("GameKeys")
        game_id = list(game_keys["game_id"])
        weeks = pd.DataFrame()
        for g in game_id:
            response = yahoo_query.get_game_weeks_by_game_id(g)
            for r in response:
                row = pd.json_normalize(complex_json_handler(r["game_week"]))
                row["game_id"] = g
                weeks = pd.concat([weeks, row])

        weeks.rename(columns={"display_name": "week"}, inplace=True)

        sql_upload_table(
            dataframe=weeks,
            table_name="NFLWeeks",
            data_schema="dbo",
            chunksize=500,
            if_exists="replace",
            index=False,
        )

        return weeks

In [3]:
league = league_season_data(
    auth_dir=PATH,
    league_id=LEAGUE_ID,
    game_id=GAME_ID,
    game_code="nfl",
    offline=False,
    all_output_as_json=False,
    consumer_key=CONSUMER_KEY,
    consumer_secret=CONSUMER_SECRET,
    browser_callback=True,
)

In [4]:
first_time = "yes"
game_keys = league.all_game_keys()
nfl_weeks = league.all_nfl_weeks()
metadata = league.metadata(first_time)
settings, positions, stat_categories = league.set_roster_pos_stat_cat(first_time)
teams = league.teams_list(first_time)
draft = league.draft_results(first_time)
matchups = league.matchups_by_week(first_time)
standings = league.team_standings(first_time)

[2022-06-05 15:11:06,713 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E42479E0>
[2022-06-05 15:11:06,713 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E42479E0>
[2022-06-05 15:11:06,714 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
[2022-06-05 15:11:06,714 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
[2022-06-05 15:11:06,715 INFO] [sqlalchemy.engine.Engine.base._execute_context] [raw sql] ()
[2022-06-05 15:11:06,715 INFO] [sqlalchemy.engine.Engine.base._execute_context] [raw sql] ()
[2022-06-05 15:11:06,716 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:06,716 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:06,717 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('15.0.2000.5',)
[2022-06-05 15:11:06,717 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('15.0.2000.5',)
[2022-06-05 15:11:06,719 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT schema_name()
[2022-06-05 15:11:06,719 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT schema_name()
[2022-06-05 15:11:06,719 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00061s] ()
[2022-06-05 15:11:06,719 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00061s] ()
[2022-06-05 15:11:06,720 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:06,720 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:06,721 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo',)
[2022-06-05 15:11:06,721 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo',)
[2022-06-05 15:11:06,723 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST('test max support' AS NVARCHAR(max))
[2022-06-05 15:11:06,723 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST('test max support' AS NVARCHAR(max))
[2022-06-05 15:11:06,724 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00059s] ()
[2022-06-05 15:11:06,724 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00059s] ()
[2022-06-05 15:11:06,725 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:06,725 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:06,726 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('test max support',)
[2022-06-05 15:11:06,726 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('test max support',)
[2022-06-05 15:11:06,727 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E42479E0> checked out from pool
[2022-06-05 15:11:06,727 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E42479E0> checked out from pool
[2022-06-05 15:11:07,739 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4610440>
[2022-06-05 15:11:07,739 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4610440>
[2022-06-05 15:11:07,740 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610440> checked out from pool
[2022-06-05 15:11:07,740 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610440> checked out from pool
[2022-06-05 15:11:07,741 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610440> being returned to pool
[2022-06-05 15:11:07,741 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610440> being returned to pool
[2022-06-05 15:11:07,741 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610440> rollback-on-return
[2022-06-05 15:11:07,741 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610440> rollback-on-return
[2022-06-05 15:11:07,742 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610440> checked out from pool
[2022-06-05 15:11:07,742 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610440> checked out from pool
[2022-06-05 15:11:07,745 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:07,745 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:07,745 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00082s] ('BASE TABLE', 'GameKeys', 'dbo')
[2022-06-05 15:11:07,745 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00082s] ('BASE TABLE', 'GameKeys', 'dbo')
[2022-06-05 15:11:07,754 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:07,754 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:07,755 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-06-05 15:11:07,755 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-06-05 15:11:07,756 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610440> being returned to pool
[2022-06-05 15:11:07,756 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610440> being returned to pool
[2022-06-05 15:11:07,756 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610440> rollback-on-return
[2022-06-05 15:11:07,756 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610440> rollback-on-return
[2022-06-05 15:11:07,757 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610440> checked out from pool
[2022-06-05 15:11:07,757 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610440> checked out from pool
[2022-06-05 15:11:07,758 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610440> being returned to pool
[2022-06-05 15:11:07,758 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610440> being returned to pool
[2022-06-05 15:11:07,758 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610440> rollback-on-return
[2022-06-05 15:11:07,758 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610440> rollback-on-return
[2022-06-05 15:11:07,759 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610440> checked out from pool
[2022-06-05 15:11:07,759 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610440> checked out from pool
[2022-06-05 15:11:07,761 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:07,761 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:07,761 INFO] [sqlalchemy.engine.Engine.base._execute_context] [cached since 0.01671s ago] ('BASE TABLE', 'GameKeys', 'dbo')
[2022-06-05 15:11:07,761 INFO] [sqlalchemy.engine.Engine.base._execute_context] [cached since 0.01671s ago] ('BASE TABLE', 'GameKeys', 'dbo')
[2022-06-05 15:11:07,762 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:07,762 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:07,763 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-06-05 15:11:07,763 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-06-05 15:11:07,764 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610440> being returned to pool
[2022-06-05 15:11:07,764 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610440> being returned to pool
[2022-06-05 15:11:07,765 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610440> rollback-on-return
[2022-06-05 15:11:07,765 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610440> rollback-on-return
[2022-06-05 15:11:07,766 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610440> checked out from pool
[2022-06-05 15:11:07,766 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610440> checked out from pool
[2022-06-05 15:11:07,766 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610440> being returned to pool
[2022-06-05 15:11:07,766 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610440> being returned to pool
[2022-06-05 15:11:07,767 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610440> rollback-on-return
[2022-06-05 15:11:07,767 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610440> rollback-on-return
[2022-06-05 15:11:07,768 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610440> checked out from pool
[2022-06-05 15:11:07,768 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610440> checked out from pool
[2022-06-05 15:11:07,770 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
[2022-06-05 15:11:07,770 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
[2022-06-05 15:11:07,770 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00070s] ('dbo', 'BASE TABLE')
[2022-06-05 15:11:07,770 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00070s] ('dbo', 'BASE TABLE')
[2022-06-05 15:11:07,778 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:07,778 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:07,779 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-06-05 15:11:07,779 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-06-05 15:11:07,780 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('NFLWeeks',)
[2022-06-05 15:11:07,780 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('NFLWeeks',)
[2022-06-05 15:11:07,781 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Players',)
[2022-06-05 15:11:07,781 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Players',)
[2022-06-05 15:11:07,786 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted, sys.identity_columns.is_identity, CAST(sys.identity_columns.seed_value AS NUMERIC) AS seed_value, CAST(sys.identity_columns.increment_value AS NUMERIC) AS increment_value
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.computed_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT) LEFT OUTER JOIN sys.identity_columns ON sys.identity_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.identity_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT)
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
[2022-06-05 15:11:07,786 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted, sys.identity_columns.is_identity, CAST(sys.identity_columns.seed_value AS NUMERIC) AS seed_value, CAST(sys.identity_columns.increment_value AS NUMERIC) AS increment_value
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.computed_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT) LEFT OUTER JOIN sys.identity_columns ON sys.identity_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.identity_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT)
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
[2022-06-05 15:11:07,786 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00089s] ('.', '.', 'GameKeys', 'dbo')
[2022-06-05 15:11:07,786 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00089s] ('.', '.', 'GameKeys', 'dbo')
[2022-06-05 15:11:07,812 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_SCHEMA', 'TABLE_NAME', 'COLUMN_NAME', 'IS_NULLABLE', 'DATA_TYPE', 'ORDINAL_POSITION', 'CHARACTER_MAXIMUM_LENGTH', 'NUMERIC_PRECISION', 'NUMERIC_SCALE', 'COLUMN_DEFAULT', 'COLLATION_NAME', 'definition', 'is_persisted', 'is_identity', 'seed_value', 'increment_value')
[2022-06-05 15:11:07,812 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_SCHEMA', 'TABLE_NAME', 'COLUMN_NAME', 'IS_NULLABLE', 'DATA_TYPE', 'ORDINAL_POSITION', 'CHARACTER_MAXIMUM_LENGTH', 'NUMERIC_PRECISION', 'NUMERIC_SCALE', 'COLUMN_DEFAULT', 'COLLATION_NAME', 'definition', 'is_persisted', 'is_identity', 'seed_value', 'increment_value')
[2022-06-05 15:11:07,813 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'code', 'YES', 'varchar', 1, -1, None, None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None, None, None)
[2022-06-05 15:11:07,813 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'code', 'YES', 'varchar', 1, -1, None, None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None, None, None)
[2022-06-05 15:11:07,814 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'game_id', 'YES', 'bigint', 2, None, 19, 0, None, None, None, None, None, None, None)
[2022-06-05 15:11:07,814 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'game_id', 'YES', 'bigint', 2, None, 19, 0, None, None, None, None, None, None, None)
[2022-06-05 15:11:07,815 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'game_key', 'YES', 'varchar', 3, -1, None, None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None, None, None)
[2022-06-05 15:11:07,815 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'game_key', 'YES', 'varchar', 3, -1, None, None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None, None, None)
[2022-06-05 15:11:07,816 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'is_game_over', 'YES', 'bigint', 4, None, 19, 0, None, None, None, None, None, None, None)
[2022-06-05 15:11:07,816 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'is_game_over', 'YES', 'bigint', 4, None, 19, 0, None, None, None, None, None, None, None)
[2022-06-05 15:11:07,816 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'is_offseason', 'YES', 'bigint', 5, None, 19, 0, None, None, None, None, None, None, None)
[2022-06-05 15:11:07,816 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'is_offseason', 'YES', 'bigint', 5, None, 19, 0, None, None, None, None, None, None, None)
[2022-06-05 15:11:07,817 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'is_registration_over', 'YES', 'bigint', 6, None, 19, 0, None, None, None, None, None, None, None)

GameKeys successfully updated or added to SQL server.

[2022-06-05 15:11:09,134 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4610510>
[2022-06-05 15:11:09,134 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4610510>
[2022-06-05 15:11:09,135 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
[2022-06-05 15:11:09,135 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
[2022-06-05 15:11:09,135 INFO] [sqlalchemy.engine.Engine.base._execute_context] [raw sql] ()
[2022-06-05 15:11:09,135 INFO] [sqlalchemy.engine.Engine.base._execute_context] [raw sql] ()
[2022-06-05 15:11:09,137 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:09,137 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:09,137 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('15.0.2000.5',)
[2022-06-05 15:11:09,137 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('15.0.2000.5',)
[2022-06-05 15:11:09,138 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT schema_name()
[2022-06-05 15:11:09,138 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT schema_name()
[2022-06-05 15:11:09,139 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00067s] ()
[2022-06-05 15:11:09,139 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00067s] ()
[2022-06-05 15:11:09,140 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:09,140 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:09,141 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo',)
[2022-06-05 15:11:09,141 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo',)
[2022-06-05 15:11:09,142 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST('test max support' AS NVARCHAR(max))
[2022-06-05 15:11:09,142 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST('test max support' AS NVARCHAR(max))
[2022-06-05 15:11:09,142 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00053s] ()
[2022-06-05 15:11:09,142 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00053s] ()
[2022-06-05 15:11:09,143 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:09,143 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:09,144 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('test max support',)
[2022-06-05 15:11:09,144 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('test max support',)
[2022-06-05 15:11:09,145 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610510> checked out from pool
[2022-06-05 15:11:09,145 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610510> checked out from pool
[2022-06-05 15:11:09,147 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:09,147 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:09,147 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00092s] ('BASE TABLE', 'GameKeys', 'dbo')
[2022-06-05 15:11:09,147 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00092s] ('BASE TABLE', 'GameKeys', 'dbo')
[2022-06-05 15:11:09,149 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:09,149 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:09,149 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-06-05 15:11:09,149 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-06-05 15:11:09,153 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted, sys.identity_columns.is_identity, CAST(sys.identity_columns.seed_value AS NUMERIC) AS seed_value, CAST(sys.identity_columns.increment_value AS NUMERIC) AS increment_value
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.computed_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT) LEFT OUTER JOIN sys.identity_columns ON sys.identity_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.identity_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT)
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
[2022-06-05 15:11:09,153 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted, sys.identity_columns.is_identity, CAST(sys.identity_columns.seed_value AS NUMERIC) AS seed_value, CAST(sys.identity_columns.increment_value AS NUMERIC) AS increment_value
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.computed_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT) LEFT OUTER JOIN sys.identity_columns ON sys.identity_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.identity_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT)
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
[2022-06-05 15:11:09,153 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00072s] ('.', '.', 'GameKeys', 'dbo')
[2022-06-05 15:11:09,153 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00072s] ('.', '.', 'GameKeys', 'dbo')
[2022-06-05 15:11:09,155 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_SCHEMA', 'TABLE_NAME', 'COLUMN_NAME', 'IS_NULLABLE', 'DATA_TYPE', 'ORDINAL_POSITION', 'CHARACTER_MAXIMUM_LENGTH', 'NUMERIC_PRECISION', 'NUMERIC_SCALE', 'COLUMN_DEFAULT', 'COLLATION_NAME', 'definition', 'is_persisted', 'is_identity', 'seed_value', 'increment_value')
[2022-06-05 15:11:09,155 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_SCHEMA', 'TABLE_NAME', 'COLUMN_NAME', 'IS_NULLABLE', 'DATA_TYPE', 'ORDINAL_POSITION', 'CHARACTER_MAXIMUM_LENGTH', 'NUMERIC_PRECISION', 'NUMERIC_SCALE', 'COLUMN_DEFAULT', 'COLLATION_NAME', 'definition', 'is_persisted', 'is_identity', 'seed_value', 'increment_value')
[2022-06-05 15:11:09,156 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'code', 'YES', 'nvarchar', 1, 255, None, None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None, None, None)
[2022-06-05 15:11:09,156 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'code', 'YES', 'nvarchar', 1, 255, None, None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None, None, None)
[2022-06-05 15:11:09,157 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'game_id', 'YES', 'int', 2, None, 10, 0, None, None, None, None, None, None, None)
[2022-06-05 15:11:09,157 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'game_id', 'YES', 'int', 2, None, 10, 0, None, None, None, None, None, None, None)
[2022-06-05 15:11:09,158 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'game_key', 'YES', 'nvarchar', 3, 255, None, None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None, None, None)
[2022-06-05 15:11:09,158 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'game_key', 'YES', 'nvarchar', 3, 255, None, None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None, None, None)
[2022-06-05 15:11:09,158 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'is_game_over', 'YES', 'int', 4, None, 10, 0, None, None, None, None, None, None, None)
[2022-06-05 15:11:09,158 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'is_game_over', 'YES', 'int', 4, None, 10, 0, None, None, None, None, None, None, None)
[2022-06-05 15:11:09,159 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'is_offseason', 'YES', 'int', 5, None, 10, 0, None, None, None, None, None, None, None)
[2022-06-05 15:11:09,159 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'is_offseason', 'YES', 'int', 5, None, 10, 0, None, None, None, None, None, None, None)
[2022-06-05 15:11:09,160 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'is_registration_over', 'YES', 'int', 6, None, 10, 0, None, None, None, None, None, None, None)
[2022-06-05 15:11:09,160 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'is_registration_over', 'YES', 'int', 6, None, 10, 0, None, None, None, None, None, None, None)
[2022-06-05 15:11:09,161 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'name', 'YES', 'nvarchar', 7, 255, None, None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None, None, None)
[2022-06-05 15:11:09,161 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'name', 'YES', 'nvarchar', 7, 255, None, None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None, None, None)
[2022-06-05 15:11:09,162 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'season', 'YES', 'int', 8, None, 10, 0, None, None, None, None, None, None, None)
[2022-06-05 15:11:09,162 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'season', 'YES', 'int', 8, None, 10, 0, None, None, None, None, None, None, None)
[2022-06-05 15:11:09,163 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'type', 'YES', 'nvarchar', 9, 255, None, None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None, None, None)
[2022-06-05 15:11:09,163 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'type', 'YES', 'nvarchar', 9, 255, None, None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None, None, None)
[2022-06-05 15:11:09,164 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'url', 'YES', 'nvarchar', 10, 255, None, None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None, None, None)
[2022-06-05 15:11:09,164 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'GameKeys', 'url', 'YES', 'nvarchar', 10, 255, None, None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None, None, None)
[2022-06-05 15:11:09,166 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME], [C].[ORDINAL_POSITION]
[2022-06-05 15:11:09,166 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME], [C].[ORDINAL_POSITION]
[2022-06-05 15:11:09,167 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00072s] ('GameKeys', 'dbo')
[2022-06-05 15:11:09,167 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00072s] ('GameKeys', 'dbo')
[2022-06-05 15:11:09,168 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('COLUMN_NAME', 'CONSTRAINT_TYPE', 'CONSTRAINT_NAME')
[2022-06-05 15:11:09,168 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('COLUMN_NAME', 'CONSTRAINT_TYPE', 'CONSTRAINT_NAME')
[2022-06-05 15:11:09,170 INFO] [sqlalchemy.engine.Engine.base._execute_context] WITH fk_info AS (
    SELECT
        ischema_ref_con.constraint_schema,
        ischema_ref_con.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_ref_con.unique_constraint_schema,
        ischema_ref_con.unique_constraint_name,
        ischema_ref_con.match_option,
        ischema_ref_con.update_rule,
        ischema_ref_con.delete_rule,
        ischema_key_col.column_name AS constrained_column
    FROM
        INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS ischema_ref_con
        INNER JOIN
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col ON
            ischema_key_col.table_schema = ischema_ref_con.constraint_schema
            AND ischema_key_col.constraint_name =
            ischema_ref_con.constraint_name
    WHERE ischema_key_col.table_name = CAST(? AS NVARCHAR(max))
        AND ischema_key_col.table_schema = CAST(? AS NVARCHAR(max))
),
constraint_info AS (
    SELECT
        ischema_key_col.constraint_schema,
        ischema_key_col.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_key_col.column_name
    FROM
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col
),
index_info AS (
    SELECT
        sys.schemas.name AS index_schema,
        sys.indexes.name AS index_name,
        sys.index_columns.key_ordinal AS ordinal_position,
        sys.schemas.name AS table_schema,
        sys.objects.name AS table_name,
        sys.columns.name AS column_name
    FROM
        sys.indexes
        INNER JOIN
        sys.objects ON
            sys.objects.object_id = sys.indexes.object_id
        INNER JOIN
        sys.schemas ON
            sys.schemas.schema_id = sys.objects.schema_id
        INNER JOIN
        sys.index_columns ON
            sys.index_columns.object_id = sys.objects.object_id
            AND sys.index_columns.index_id = sys.indexes.index_id
        INNER JOIN
        sys.columns ON
            sys.columns.object_id = sys.indexes.object_id
            AND sys.columns.column_id = sys.index_columns.column_id
)
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        constraint_info.table_schema AS referred_table_schema,
        constraint_info.table_name AS referred_table_name,
        constraint_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN constraint_info ON
            constraint_info.constraint_schema =
                fk_info.unique_constraint_schema
            AND constraint_info.constraint_name =
                fk_info.unique_constraint_name
            AND constraint_info.ordinal_position = fk_info.ordinal_position
    UNION
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        index_info.table_schema AS referred_table_schema,
        index_info.table_name AS referred_table_name,
        index_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN index_info ON
            index_info.index_schema = fk_info.unique_constraint_schema
            AND index_info.index_name = fk_info.unique_constraint_name
            AND index_info.ordinal_position = fk_info.ordinal_position

    ORDER BY fk_info.constraint_schema, fk_info.constraint_name,
        fk_info.ordinal_position

[2022-06-05 15:11:09,170 INFO] [sqlalchemy.engine.Engine.base._execute_context] WITH fk_info AS (
    SELECT
        ischema_ref_con.constraint_schema,
        ischema_ref_con.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_ref_con.unique_constraint_schema,
        ischema_ref_con.unique_constraint_name,
        ischema_ref_con.match_option,
        ischema_ref_con.update_rule,
        ischema_ref_con.delete_rule,
        ischema_key_col.column_name AS constrained_column
    FROM
        INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS ischema_ref_con
        INNER JOIN
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col ON
            ischema_key_col.table_schema = ischema_ref_con.constraint_schema
            AND ischema_key_col.constraint_name =
            ischema_ref_con.constraint_name
    WHERE ischema_key_col.table_name = CAST(? AS NVARCHAR(max))
        AND ischema_key_col.table_schema = CAST(? AS NVARCHAR(max))
),
constraint_info AS (
    SELECT
        ischema_key_col.constraint_schema,
        ischema_key_col.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_key_col.column_name
    FROM
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col
),
index_info AS (
    SELECT
        sys.schemas.name AS index_schema,

GameKeys successfully pulled from SQL server.

[2022-06-05 15:11:11,216 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4610B90>
[2022-06-05 15:11:11,216 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4610B90>
[2022-06-05 15:11:11,217 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
[2022-06-05 15:11:11,217 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
[2022-06-05 15:11:11,218 INFO] [sqlalchemy.engine.Engine.base._execute_context] [raw sql] ()
[2022-06-05 15:11:11,218 INFO] [sqlalchemy.engine.Engine.base._execute_context] [raw sql] ()
[2022-06-05 15:11:11,219 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:11,219 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:11,220 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('15.0.2000.5',)
[2022-06-05 15:11:11,220 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('15.0.2000.5',)
[2022-06-05 15:11:11,221 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT schema_name()
[2022-06-05 15:11:11,221 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT schema_name()
[2022-06-05 15:11:11,222 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00072s] ()
[2022-06-05 15:11:11,222 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00072s] ()
[2022-06-05 15:11:11,223 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:11,223 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:11,223 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo',)
[2022-06-05 15:11:11,223 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo',)
[2022-06-05 15:11:11,224 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST('test max support' AS NVARCHAR(max))
[2022-06-05 15:11:11,224 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST('test max support' AS NVARCHAR(max))
[2022-06-05 15:11:11,225 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00053s] ()
[2022-06-05 15:11:11,225 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00053s] ()
[2022-06-05 15:11:11,226 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:11,226 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:11,227 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('test max support',)
[2022-06-05 15:11:11,227 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('test max support',)
[2022-06-05 15:11:11,227 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610B90> checked out from pool
[2022-06-05 15:11:11,227 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610B90> checked out from pool
[2022-06-05 15:11:12,243 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E46109F0>
[2022-06-05 15:11:12,243 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E46109F0>
[2022-06-05 15:11:12,244 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46109F0> checked out from pool
[2022-06-05 15:11:12,244 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46109F0> checked out from pool
[2022-06-05 15:11:12,245 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46109F0> being returned to pool
[2022-06-05 15:11:12,245 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46109F0> being returned to pool
[2022-06-05 15:11:12,245 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46109F0> rollback-on-return
[2022-06-05 15:11:12,245 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46109F0> rollback-on-return
[2022-06-05 15:11:12,246 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46109F0> checked out from pool
[2022-06-05 15:11:12,246 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46109F0> checked out from pool
[2022-06-05 15:11:12,247 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:12,247 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:12,248 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00089s] ('BASE TABLE', 'NFLWeeks', 'dbo')
[2022-06-05 15:11:12,248 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00089s] ('BASE TABLE', 'NFLWeeks', 'dbo')
[2022-06-05 15:11:12,250 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:12,250 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:12,250 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('NFLWeeks',)
[2022-06-05 15:11:12,250 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('NFLWeeks',)
[2022-06-05 15:11:12,251 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46109F0> being returned to pool
[2022-06-05 15:11:12,251 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46109F0> being returned to pool
[2022-06-05 15:11:12,252 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46109F0> rollback-on-return
[2022-06-05 15:11:12,252 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46109F0> rollback-on-return
[2022-06-05 15:11:12,253 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46109F0> checked out from pool
[2022-06-05 15:11:12,253 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46109F0> checked out from pool
[2022-06-05 15:11:12,253 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46109F0> being returned to pool
[2022-06-05 15:11:12,253 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46109F0> being returned to pool
[2022-06-05 15:11:12,254 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46109F0> rollback-on-return
[2022-06-05 15:11:12,254 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46109F0> rollback-on-return
[2022-06-05 15:11:12,255 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46109F0> checked out from pool
[2022-06-05 15:11:12,255 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46109F0> checked out from pool
[2022-06-05 15:11:12,256 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:12,256 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:12,257 INFO] [sqlalchemy.engine.Engine.base._execute_context] [cached since 0.009384s ago] ('BASE TABLE', 'NFLWeeks', 'dbo')
[2022-06-05 15:11:12,257 INFO] [sqlalchemy.engine.Engine.base._execute_context] [cached since 0.009384s ago] ('BASE TABLE', 'NFLWeeks', 'dbo')
[2022-06-05 15:11:12,258 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:12,258 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:12,258 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('NFLWeeks',)
[2022-06-05 15:11:12,258 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('NFLWeeks',)
[2022-06-05 15:11:12,259 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46109F0> being returned to pool
[2022-06-05 15:11:12,259 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46109F0> being returned to pool
[2022-06-05 15:11:12,260 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46109F0> rollback-on-return
[2022-06-05 15:11:12,260 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46109F0> rollback-on-return
[2022-06-05 15:11:12,261 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46109F0> checked out from pool
[2022-06-05 15:11:12,261 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46109F0> checked out from pool
[2022-06-05 15:11:12,262 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46109F0> being returned to pool
[2022-06-05 15:11:12,262 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46109F0> being returned to pool
[2022-06-05 15:11:12,262 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46109F0> rollback-on-return
[2022-06-05 15:11:12,262 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46109F0> rollback-on-return
[2022-06-05 15:11:12,263 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46109F0> checked out from pool
[2022-06-05 15:11:12,263 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46109F0> checked out from pool
[2022-06-05 15:11:12,265 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
[2022-06-05 15:11:12,265 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
[2022-06-05 15:11:12,266 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00138s] ('dbo', 'BASE TABLE')
[2022-06-05 15:11:12,266 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00138s] ('dbo', 'BASE TABLE')
[2022-06-05 15:11:12,269 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:12,269 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:12,269 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-06-05 15:11:12,269 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-06-05 15:11:12,270 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('NFLWeeks',)
[2022-06-05 15:11:12,270 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('NFLWeeks',)
[2022-06-05 15:11:12,271 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Players',)
[2022-06-05 15:11:12,271 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Players',)
[2022-06-05 15:11:12,274 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted, sys.identity_columns.is_identity, CAST(sys.identity_columns.seed_value AS NUMERIC) AS seed_value, CAST(sys.identity_columns.increment_value AS NUMERIC) AS increment_value
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.computed_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT) LEFT OUTER JOIN sys.identity_columns ON sys.identity_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.identity_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT)
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
[2022-06-05 15:11:12,274 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted, sys.identity_columns.is_identity, CAST(sys.identity_columns.seed_value AS NUMERIC) AS seed_value, CAST(sys.identity_columns.increment_value AS NUMERIC) AS increment_value
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.computed_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT) LEFT OUTER JOIN sys.identity_columns ON sys.identity_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.identity_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT)
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
[2022-06-05 15:11:12,275 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00108s] ('.', '.', 'NFLWeeks', 'dbo')
[2022-06-05 15:11:12,275 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00108s] ('.', '.', 'NFLWeeks', 'dbo')
[2022-06-05 15:11:12,277 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_SCHEMA', 'TABLE_NAME', 'COLUMN_NAME', 'IS_NULLABLE', 'DATA_TYPE', 'ORDINAL_POSITION', 'CHARACTER_MAXIMUM_LENGTH', 'NUMERIC_PRECISION', 'NUMERIC_SCALE', 'COLUMN_DEFAULT', 'COLLATION_NAME', 'definition', 'is_persisted', 'is_identity', 'seed_value', 'increment_value')
[2022-06-05 15:11:12,277 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_SCHEMA', 'TABLE_NAME', 'COLUMN_NAME', 'IS_NULLABLE', 'DATA_TYPE', 'ORDINAL_POSITION', 'CHARACTER_MAXIMUM_LENGTH', 'NUMERIC_PRECISION', 'NUMERIC_SCALE', 'COLUMN_DEFAULT', 'COLLATION_NAME', 'definition', 'is_persisted', 'is_identity', 'seed_value', 'increment_value')
[2022-06-05 15:11:12,278 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'NFLWeeks', 'week', 'YES', 'bigint', 1, None, 19, 0, None, None, None, None, None, None, None)
[2022-06-05 15:11:12,278 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'NFLWeeks', 'week', 'YES', 'bigint', 1, None, 19, 0, None, None, None, None, None, None, None)
[2022-06-05 15:11:12,279 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'NFLWeeks', 'end', 'YES', 'varchar', 2, -1, None, None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None, None, None)
[2022-06-05 15:11:12,279 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'NFLWeeks', 'end', 'YES', 'varchar', 2, -1, None, None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None, None, None)
[2022-06-05 15:11:12,280 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'NFLWeeks', 'start', 'YES', 'varchar', 3, -1, None, None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None, None, None)
[2022-06-05 15:11:12,280 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'NFLWeeks', 'start', 'YES', 'varchar', 3, -1, None, None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None, None, None)
[2022-06-05 15:11:12,281 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'NFLWeeks', 'game_id', 'YES', 'bigint', 4, None, 19, 0, None, None, None, None, None, None, None)
[2022-06-05 15:11:12,281 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo', 'NFLWeeks', 'game_id', 'YES', 'bigint', 4, None, 19, 0, None, None, None, None, None, None, None)
[2022-06-05 15:11:12,283 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME], [C].[ORDINAL_POSITION]

NFLWeeks successfully updated or added to SQL server.

[2022-06-05 15:11:13,678 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4610920>
[2022-06-05 15:11:13,678 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4610920>
[2022-06-05 15:11:13,679 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
[2022-06-05 15:11:13,679 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
[2022-06-05 15:11:13,680 INFO] [sqlalchemy.engine.Engine.base._execute_context] [raw sql] ()
[2022-06-05 15:11:13,680 INFO] [sqlalchemy.engine.Engine.base._execute_context] [raw sql] ()
[2022-06-05 15:11:13,682 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:13,682 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:13,683 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('15.0.2000.5',)
[2022-06-05 15:11:13,683 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('15.0.2000.5',)
[2022-06-05 15:11:13,684 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT schema_name()
[2022-06-05 15:11:13,684 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT schema_name()
[2022-06-05 15:11:13,684 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00067s] ()
[2022-06-05 15:11:13,684 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00067s] ()
[2022-06-05 15:11:13,686 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:13,686 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:13,686 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo',)
[2022-06-05 15:11:13,686 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo',)
[2022-06-05 15:11:13,688 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST('test max support' AS NVARCHAR(max))
[2022-06-05 15:11:13,688 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST('test max support' AS NVARCHAR(max))
[2022-06-05 15:11:13,688 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00058s] ()
[2022-06-05 15:11:13,688 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00058s] ()
[2022-06-05 15:11:13,689 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:13,689 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:13,690 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('test max support',)
[2022-06-05 15:11:13,690 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('test max support',)
[2022-06-05 15:11:13,691 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610920> checked out from pool
[2022-06-05 15:11:13,691 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610920> checked out from pool
[2022-06-05 15:11:14,710 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E46117C0>
[2022-06-05 15:11:14,710 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E46117C0>
[2022-06-05 15:11:14,711 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46117C0> checked out from pool
[2022-06-05 15:11:14,711 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46117C0> checked out from pool
[2022-06-05 15:11:14,711 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46117C0> being returned to pool
[2022-06-05 15:11:14,711 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46117C0> being returned to pool
[2022-06-05 15:11:14,712 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46117C0> rollback-on-return
[2022-06-05 15:11:14,712 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46117C0> rollback-on-return
[2022-06-05 15:11:14,712 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46117C0> checked out from pool
[2022-06-05 15:11:14,712 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46117C0> checked out from pool
[2022-06-05 15:11:14,715 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:14,715 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:14,715 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00071s] ('BASE TABLE', 'LeagueMetaData', 'dbo')
[2022-06-05 15:11:14,715 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00071s] ('BASE TABLE', 'LeagueMetaData', 'dbo')
[2022-06-05 15:11:14,721 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:14,721 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:14,721 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46117C0> being returned to pool
[2022-06-05 15:11:14,721 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46117C0> being returned to pool
[2022-06-05 15:11:14,722 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46117C0> rollback-on-return
[2022-06-05 15:11:14,722 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46117C0> rollback-on-return
[2022-06-05 15:11:14,724 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46117C0> checked out from pool
[2022-06-05 15:11:14,724 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46117C0> checked out from pool
[2022-06-05 15:11:14,725 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:14,725 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:14,726 INFO] [sqlalchemy.engine.Engine.base._execute_context]
CREATE TABLE dbo.[LeagueMetaData] (
	allow_add_to_dl_extra_pos INTEGER NULL,
	current_week INTEGER NULL,
	draft_status NVARCHAR(255) NULL,
	edit_key INTEGER NULL,
	end_date NVARCHAR(255) NULL,
	end_week INTEGER NULL,
	game_code NVARCHAR(255) NULL,
	iris_group_chat_id NVARCHAR(255) NULL,
	is_cash_league INTEGER NULL,
	is_finished INTEGER NULL,
	is_pro_league INTEGER NULL,
	league_id NVARCHAR(255) NULL,
	league_key NVARCHAR(255) NULL,
	league_type NVARCHAR(255) NULL,
	league_update_timestamp INTEGER NULL,
	logo_url NVARCHAR(255) NULL,
	name NVARCHAR(255) NULL,
	num_teams INTEGER NULL,
	password NVARCHAR(255) NULL,
	renew NVARCHAR(255) NULL,
	renewed NVARCHAR(255) NULL,
	scoring_type NVARCHAR(255) NULL,
	season INTEGER NULL,
	short_invitation_url NVARCHAR(255) NULL,
	start_date NVARCHAR(255) NULL,
	start_week INTEGER NULL,
	url NVARCHAR(255) NULL,
	weekly_deadline NVARCHAR(255) NULL,
	game_id NVARCHAR(255) NULL
)


[2022-06-05 15:11:14,726 INFO] [sqlalchemy.engine.Engine.base._execute_context]
CREATE TABLE dbo.[LeagueMetaData] (
	allow_add_to_dl_extra_pos INTEGER NULL,
	current_week INTEGER NULL,
	draft_status NVARCHAR(255) NULL,
	edit_key INTEGER NULL,
	end_date NVARCHAR(255) NULL,
	end_week INTEGER NULL,
	game_code NVARCHAR(255) NULL,
	iris_group_chat_id NVARCHAR(255) NULL,
	is_cash_league INTEGER NULL,
	is_finished INTEGER NULL,
	is_pro_league INTEGER NULL,
	league_id NVARCHAR(255) NULL,
	league_key NVARCHAR(255) NULL,
	league_type NVARCHAR(255) NULL,
	league_update_timestamp INTEGER NULL,
	logo_url NVARCHAR(255) NULL,
	name NVARCHAR(255) NULL,
	num_teams INTEGER NULL,
	password NVARCHAR(255) NULL,
	renew NVARCHAR(255) NULL,
	renewed NVARCHAR(255) NULL,
	scoring_type NVARCHAR(255) NULL,
	season INTEGER NULL,
	short_invitation_url NVARCHAR(255) NULL,
	start_date NVARCHAR(255) NULL,
	start_week INTEGER NULL,
	url NVARCHAR(255) NULL,
	weekly_deadline NVARCHAR(255) NULL,
	game_id NVARCHAR(255) NULL
)


[2022-06-05 15:11:14,727 INFO] [sqlalchemy.engine.Engine.base._execute_context] [no key 0.00081s] ()
[2022-06-05 15:11:14,727 INFO] [sqlalchemy.engine.Engine.base._execute_context] [no key 0.00081s] ()
[2022-06-05 15:11:14,728 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:14,728 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:14,729 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46117C0> being returned to pool
[2022-06-05 15:11:14,729 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46117C0> being returned to pool
[2022-06-05 15:11:14,730 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46117C0> rollback-on-return
[2022-06-05 15:11:14,730 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46117C0> rollback-on-return
[2022-06-05 15:11:14,731 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46117C0> checked out from pool
[2022-06-05 15:11:14,731 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46117C0> checked out from pool
[2022-06-05 15:11:14,732 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:14,732 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:14,734 INFO] [sqlalchemy.engine.Engine.base._execute_context] INSERT INTO dbo.[LeagueMetaData] (allow_add_to_dl_extra_pos, current_week, draft_status, edit_key, end_date, end_week, game_code, iris_group_chat_id, is_cash_league, is_finished, is_pro_league, league_id, league_key, league_type, league_update_timestamp, logo_url, name, num_teams, password, renew, renewed, scoring_type, season, short_invitation_url, start_date, start_week, url, weekly_deadline, game_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[2022-06-05 15:11:14,734 INFO] [sqlalchemy.engine.Engine.base._execute_context] INSERT INTO dbo.[LeagueMetaData] (allow_add_to_dl_extra_pos, current_week, draft_status, edit_key, end_date, end_week, game_code, iris_group_chat_id, is_cash_league, is_finished, is_pro_league, league_id, league_key, league_type, league_update_timestamp, logo_url, name, num_teams, password, renew, renewed, scoring_type, season, short_invitation_url, start_date, start_week, url, weekly_deadline, game_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[2022-06-05 15:11:14,735 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00107s] (0, 17, 'postdraft', 17, '2022-01-03', 17, 'nfl', None, 0, 1, 0, '103661', '406.l.103661', 'private', 1642058898, 'https://yahoofantasysports-res.cloudinary.com/image/upload/t_s192sq/fantasy-logos/40384192006_72c3bc.png', 'Men of Madison', 10, None, '399_12514', None, 'head', 2021, 'https://football.fantasysports.yahoo.com/2021/f1/103661/invitation?key=e37e3446bd3dc59c&ikey=d4789d8a2364846d', '2021-09-09', 1, 'https://football.fantasysports.yahoo.com/2021/f1/103661', None, '406')
[2022-06-05 15:11:14,735 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00107s] (0, 17, 'postdraft', 17, '2022-01-03', 17, 'nfl', None, 0, 1, 0, '103661', '406.l.103661', 'private', 1642058898, 'https://yahoofantasysports-res.cloudinary.com/image/upload/t_s192sq/fantasy-logos/40384192006_72c3bc.png', 'Men of Madison', 10, None, '399_12514', None, 'head', 2021, 'https://football.fantasysports.yahoo.com/2021/f1/103661/invitation?key=e37e3446bd3dc59c&ikey=d4789d8a2364846d', '2021-09-09', 1, 'https://football.fantasysports.yahoo.com/2021/f1/103661', None, '406')
[2022-06-05 15:11:14,738 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:14,738 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:14,739 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46117C0> being returned to pool
[2022-06-05 15:11:14,739 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46117C0> being returned to pool
[2022-06-05 15:11:14,740 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46117C0> rollback-on-return
[2022-06-05 15:11:14,740 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46117C0> rollback-on-return
[2022-06-05 15:11:14,741 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46117C0> checked out from pool
[2022-06-05 15:11:14,741 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46117C0> checked out from pool
[2022-06-05 15:11:14,742 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
[2022-06-05 15:11:14,742 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
[2022-06-05 15:11:14,743 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00102s] ('dbo', 'BASE TABLE')
[2022-06-05 15:11:14,743 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00102s] ('dbo', 'BASE TABLE')
[2022-06-05 15:11:14,746 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:14,746 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:14,746 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-06-05 15:11:14,746 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-06-05 15:11:14,747 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueMetaData',)
[2022-06-05 15:11:14,747 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueMetaData',)
[2022-06-05 15:11:14,748 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('NFLWeeks',)
[2022-06-05 15:11:14,748 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('NFLWeeks',)
[2022-06-05 15:11:14,749 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Players',)
[2022-06-05 15:11:14,749 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Players',)
[2022-06-05 15:11:14,750 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46117C0> being returned to pool
[2022-06-05 15:11:14,750 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46117C0> being returned to pool
[2022-06-05 15:11:14,751 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46117C0> rollback-on-return
[2022-06-05 15:11:14,751 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46117C0> rollback-on-return
[2022-06-05 15:11:14,751 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610920> being returned to pool
[2022-06-05 15:11:14,751 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610920> being returned to pool
[2022-06-05 15:11:14,752 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610920> rollback-on-return
[2022-06-05 15:11:14,752 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610920> rollback-on-return

LeagueMetaData successfully updated or added to SQL server.

[2022-06-05 15:11:16,326 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4610850>
[2022-06-05 15:11:16,326 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4610850>
[2022-06-05 15:11:16,327 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
[2022-06-05 15:11:16,327 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
[2022-06-05 15:11:16,328 INFO] [sqlalchemy.engine.Engine.base._execute_context] [raw sql] ()
[2022-06-05 15:11:16,328 INFO] [sqlalchemy.engine.Engine.base._execute_context] [raw sql] ()
[2022-06-05 15:11:16,329 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:16,329 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:16,329 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('15.0.2000.5',)
[2022-06-05 15:11:16,329 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('15.0.2000.5',)
[2022-06-05 15:11:16,330 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT schema_name()
[2022-06-05 15:11:16,330 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT schema_name()
[2022-06-05 15:11:16,331 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00058s] ()
[2022-06-05 15:11:16,331 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00058s] ()
[2022-06-05 15:11:16,332 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:16,332 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:16,333 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo',)
[2022-06-05 15:11:16,333 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo',)
[2022-06-05 15:11:16,334 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST('test max support' AS NVARCHAR(max))
[2022-06-05 15:11:16,334 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST('test max support' AS NVARCHAR(max))
[2022-06-05 15:11:16,334 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00054s] ()
[2022-06-05 15:11:16,334 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00054s] ()
[2022-06-05 15:11:16,335 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:16,335 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:16,336 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('test max support',)
[2022-06-05 15:11:16,336 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('test max support',)
[2022-06-05 15:11:16,337 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610850> checked out from pool
[2022-06-05 15:11:16,337 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610850> checked out from pool
[2022-06-05 15:11:17,356 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4611550>
[2022-06-05 15:11:17,356 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4611550>
[2022-06-05 15:11:17,357 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611550> checked out from pool
[2022-06-05 15:11:17,357 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611550> checked out from pool
[2022-06-05 15:11:17,357 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611550> being returned to pool
[2022-06-05 15:11:17,357 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611550> being returned to pool
[2022-06-05 15:11:17,358 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611550> rollback-on-return
[2022-06-05 15:11:17,358 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611550> rollback-on-return
[2022-06-05 15:11:17,359 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611550> checked out from pool
[2022-06-05 15:11:17,359 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611550> checked out from pool
[2022-06-05 15:11:17,360 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:17,360 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:17,361 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00072s] ('BASE TABLE', 'LeagueSettings', 'dbo')
[2022-06-05 15:11:17,361 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00072s] ('BASE TABLE', 'LeagueSettings', 'dbo')
[2022-06-05 15:11:17,363 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:17,363 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:17,364 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611550> being returned to pool
[2022-06-05 15:11:17,364 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611550> being returned to pool
[2022-06-05 15:11:17,364 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611550> rollback-on-return
[2022-06-05 15:11:17,364 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611550> rollback-on-return
[2022-06-05 15:11:17,366 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611550> checked out from pool
[2022-06-05 15:11:17,366 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611550> checked out from pool
[2022-06-05 15:11:17,367 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:17,367 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:17,369 INFO] [sqlalchemy.engine.Engine.base._execute_context]
CREATE TABLE dbo.[LeagueSettings] (
	cant_cut_list NVARCHAR(255) NULL,
	draft_pick_time INTEGER NULL,
	draft_time INTEGER NULL,
	draft_type NVARCHAR(255) NULL,
	has_multiweek_championship INTEGER NULL,
	has_playoff_consolation_games BIT NULL,
	is_auction_draft INTEGER NULL,
	max_teams INTEGER NULL,
	num_playoff_consolation_teams INTEGER NULL,
	num_playoff_teams INTEGER NULL,
	pickem_enabled INTEGER NULL,
	player_pool NVARCHAR(255) NULL,
	playoff_start_week INTEGER NULL,
	post_draft_players NVARCHAR(255) NULL,
	scoring_type NVARCHAR(255) NULL,
	trade_end_date NVARCHAR(255) NULL,
	trade_ratify_type NVARCHAR(255) NULL,
	trade_reject_time INTEGER NULL,
	uses_faab INTEGER NULL,
	uses_fractional_points INTEGER NULL,
	uses_lock_eliminated_teams INTEGER NULL,
	uses_negative_points INTEGER NULL,
	uses_playoff INTEGER NULL,
	uses_playoff_reseeding INTEGER NULL,
	waiver_rule NVARCHAR(255) NULL,
	waiver_time INTEGER NULL,
	waiver_type NVARCHAR(255) NULL,
	game_id NVARCHAR(255) NULL,
	league_id NVARCHAR(255) NULL
)


[2022-06-05 15:11:17,369 INFO] [sqlalchemy.engine.Engine.base._execute_context]
CREATE TABLE dbo.[LeagueSettings] (
	cant_cut_list NVARCHAR(255) NULL,
	draft_pick_time INTEGER NULL,
	draft_time INTEGER NULL,
	draft_type NVARCHAR(255) NULL,
	has_multiweek_championship INTEGER NULL,
	has_playoff_consolation_games BIT NULL,
	is_auction_draft INTEGER NULL,
	max_teams INTEGER NULL,
	num_playoff_consolation_teams INTEGER NULL,
	num_playoff_teams INTEGER NULL,
	pickem_enabled INTEGER NULL,
	player_pool NVARCHAR(255) NULL,
	playoff_start_week INTEGER NULL,
	post_draft_players NVARCHAR(255) NULL,
	scoring_type NVARCHAR(255) NULL,
	trade_end_date NVARCHAR(255) NULL,
	trade_ratify_type NVARCHAR(255) NULL,
	trade_reject_time INTEGER NULL,
	uses_faab INTEGER NULL,
	uses_fractional_points INTEGER NULL,
	uses_lock_eliminated_teams INTEGER NULL,
	uses_negative_points INTEGER NULL,
	uses_playoff INTEGER NULL,
	uses_playoff_reseeding INTEGER NULL,
	waiver_rule NVARCHAR(255) NULL,
	waiver_time INTEGER NULL,
	waiver_type NVARCHAR(255) NULL,
	game_id NVARCHAR(255) NULL,
	league_id NVARCHAR(255) NULL
)


[2022-06-05 15:11:17,369 INFO] [sqlalchemy.engine.Engine.base._execute_context] [no key 0.00067s] ()
[2022-06-05 15:11:17,369 INFO] [sqlalchemy.engine.Engine.base._execute_context] [no key 0.00067s] ()
[2022-06-05 15:11:17,371 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:17,371 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:17,372 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611550> being returned to pool
[2022-06-05 15:11:17,372 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611550> being returned to pool
[2022-06-05 15:11:17,373 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611550> rollback-on-return
[2022-06-05 15:11:17,373 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611550> rollback-on-return
[2022-06-05 15:11:17,374 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611550> checked out from pool
[2022-06-05 15:11:17,374 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611550> checked out from pool
[2022-06-05 15:11:17,375 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:17,375 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:17,377 INFO] [sqlalchemy.engine.Engine.base._execute_context] INSERT INTO dbo.[LeagueSettings] (cant_cut_list, draft_pick_time, draft_time, draft_type, has_multiweek_championship, has_playoff_consolation_games, is_auction_draft, max_teams, num_playoff_consolation_teams, num_playoff_teams, pickem_enabled, player_pool, playoff_start_week, post_draft_players, scoring_type, trade_end_date, trade_ratify_type, trade_reject_time, uses_faab, uses_fractional_points, uses_lock_eliminated_teams, uses_negative_points, uses_playoff, uses_playoff_reseeding, waiver_rule, waiver_time, waiver_type, game_id, league_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[2022-06-05 15:11:17,377 INFO] [sqlalchemy.engine.Engine.base._execute_context] INSERT INTO dbo.[LeagueSettings] (cant_cut_list, draft_pick_time, draft_time, draft_type, has_multiweek_championship, has_playoff_consolation_games, is_auction_draft, max_teams, num_playoff_consolation_teams, num_playoff_teams, pickem_enabled, player_pool, playoff_start_week, post_draft_players, scoring_type, trade_end_date, trade_ratify_type, trade_reject_time, uses_faab, uses_fractional_points, uses_lock_eliminated_teams, uses_negative_points, uses_playoff, uses_playoff_reseeding, waiver_rule, waiver_time, waiver_type, game_id, league_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[2022-06-05 15:11:17,378 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00135s] ('yahoo', 90, 1631059200, 'live', 0, 1, 0, 10, 4, 4, 1, 'ALL', 16, 'W', 'head', '2021-11-27', 'vote', 1, 1, 1, 1, 1, 1, 0, 'gametime', 1, 'FR', '406', '103661')
[2022-06-05 15:11:17,378 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00135s] ('yahoo', 90, 1631059200, 'live', 0, 1, 0, 10, 4, 4, 1, 'ALL', 16, 'W', 'head', '2021-11-27', 'vote', 1, 1, 1, 1, 1, 1, 0, 'gametime', 1, 'FR', '406', '103661')
[2022-06-05 15:11:17,380 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:17,380 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:17,381 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611550> being returned to pool
[2022-06-05 15:11:17,381 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611550> being returned to pool
[2022-06-05 15:11:17,382 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611550> rollback-on-return
[2022-06-05 15:11:17,382 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611550> rollback-on-return
[2022-06-05 15:11:17,382 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611550> checked out from pool
[2022-06-05 15:11:17,382 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611550> checked out from pool
[2022-06-05 15:11:17,384 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
[2022-06-05 15:11:17,384 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
[2022-06-05 15:11:17,385 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00106s] ('dbo', 'BASE TABLE')
[2022-06-05 15:11:17,385 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00106s] ('dbo', 'BASE TABLE')
[2022-06-05 15:11:17,387 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:17,387 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:17,388 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-06-05 15:11:17,388 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-06-05 15:11:17,389 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueMetaData',)
[2022-06-05 15:11:17,389 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueMetaData',)
[2022-06-05 15:11:17,390 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueSettings',)
[2022-06-05 15:11:17,390 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueSettings',)
[2022-06-05 15:11:17,390 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('NFLWeeks',)
[2022-06-05 15:11:17,390 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('NFLWeeks',)
[2022-06-05 15:11:17,391 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Players',)
[2022-06-05 15:11:17,391 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Players',)
[2022-06-05 15:11:17,392 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611550> being returned to pool
[2022-06-05 15:11:17,392 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611550> being returned to pool
[2022-06-05 15:11:17,393 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611550> rollback-on-return
[2022-06-05 15:11:17,393 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611550> rollback-on-return
[2022-06-05 15:11:17,394 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610850> being returned to pool
[2022-06-05 15:11:17,394 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610850> being returned to pool
[2022-06-05 15:11:17,394 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610850> rollback-on-return
[2022-06-05 15:11:17,394 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610850> rollback-on-return

LeagueSettings successfully updated or added to SQL server.

[2022-06-05 15:11:18,401 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E46112E0>
[2022-06-05 15:11:18,401 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E46112E0>
[2022-06-05 15:11:18,402 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
[2022-06-05 15:11:18,402 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
[2022-06-05 15:11:18,402 INFO] [sqlalchemy.engine.Engine.base._execute_context] [raw sql] ()
[2022-06-05 15:11:18,402 INFO] [sqlalchemy.engine.Engine.base._execute_context] [raw sql] ()
[2022-06-05 15:11:18,403 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:18,403 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:18,404 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('15.0.2000.5',)
[2022-06-05 15:11:18,404 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('15.0.2000.5',)
[2022-06-05 15:11:18,405 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT schema_name()
[2022-06-05 15:11:18,405 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT schema_name()
[2022-06-05 15:11:18,406 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00076s] ()
[2022-06-05 15:11:18,406 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00076s] ()
[2022-06-05 15:11:18,407 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:18,407 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:18,407 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo',)
[2022-06-05 15:11:18,407 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo',)
[2022-06-05 15:11:18,408 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST('test max support' AS NVARCHAR(max))
[2022-06-05 15:11:18,408 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST('test max support' AS NVARCHAR(max))
[2022-06-05 15:11:18,409 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00064s] ()
[2022-06-05 15:11:18,409 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00064s] ()
[2022-06-05 15:11:18,410 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:18,410 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:18,411 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('test max support',)
[2022-06-05 15:11:18,411 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('test max support',)
[2022-06-05 15:11:18,412 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46112E0> checked out from pool
[2022-06-05 15:11:18,412 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46112E0> checked out from pool
[2022-06-05 15:11:19,417 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4610510>
[2022-06-05 15:11:19,417 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4610510>
[2022-06-05 15:11:19,418 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610510> checked out from pool
[2022-06-05 15:11:19,418 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610510> checked out from pool
[2022-06-05 15:11:19,418 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610510> being returned to pool
[2022-06-05 15:11:19,418 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610510> being returned to pool
[2022-06-05 15:11:19,419 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610510> rollback-on-return
[2022-06-05 15:11:19,419 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610510> rollback-on-return
[2022-06-05 15:11:19,420 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610510> checked out from pool
[2022-06-05 15:11:19,420 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610510> checked out from pool
[2022-06-05 15:11:19,422 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:19,422 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:19,422 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00078s] ('BASE TABLE', 'RosterPositions', 'dbo')
[2022-06-05 15:11:19,422 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00078s] ('BASE TABLE', 'RosterPositions', 'dbo')
[2022-06-05 15:11:19,427 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:19,427 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:19,428 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610510> being returned to pool
[2022-06-05 15:11:19,428 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610510> being returned to pool
[2022-06-05 15:11:19,429 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610510> rollback-on-return
[2022-06-05 15:11:19,429 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610510> rollback-on-return
[2022-06-05 15:11:19,430 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610510> checked out from pool
[2022-06-05 15:11:19,430 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610510> checked out from pool
[2022-06-05 15:11:19,431 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:19,431 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:19,432 INFO] [sqlalchemy.engine.Engine.base._execute_context]
CREATE TABLE dbo.[RosterPositions] (
	count INTEGER NULL,
	position NVARCHAR(255) NULL,
	position_type NVARCHAR(255) NULL,
	game_id NVARCHAR(255) NULL,
	league_id NVARCHAR(255) NULL
)


[2022-06-05 15:11:19,432 INFO] [sqlalchemy.engine.Engine.base._execute_context]
CREATE TABLE dbo.[RosterPositions] (
	count INTEGER NULL,
	position NVARCHAR(255) NULL,
	position_type NVARCHAR(255) NULL,
	game_id NVARCHAR(255) NULL,
	league_id NVARCHAR(255) NULL
)


[2022-06-05 15:11:19,433 INFO] [sqlalchemy.engine.Engine.base._execute_context] [no key 0.00124s] ()
[2022-06-05 15:11:19,433 INFO] [sqlalchemy.engine.Engine.base._execute_context] [no key 0.00124s] ()
[2022-06-05 15:11:19,434 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:19,434 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:19,435 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610510> being returned to pool
[2022-06-05 15:11:19,435 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610510> being returned to pool
[2022-06-05 15:11:19,436 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610510> rollback-on-return
[2022-06-05 15:11:19,436 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610510> rollback-on-return
[2022-06-05 15:11:19,437 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610510> checked out from pool
[2022-06-05 15:11:19,437 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610510> checked out from pool
[2022-06-05 15:11:19,438 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:19,438 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:19,439 INFO] [sqlalchemy.engine.Engine.base._execute_context] INSERT INTO dbo.[RosterPositions] (count, position, position_type, game_id, league_id) VALUES (?, ?, ?, ?, ?)
[2022-06-05 15:11:19,439 INFO] [sqlalchemy.engine.Engine.base._execute_context] INSERT INTO dbo.[RosterPositions] (count, position, position_type, game_id, league_id) VALUES (?, ?, ?, ?, ?)
[2022-06-05 15:11:19,440 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00098s] ((1, 'QB', 'O', '406', '103661'), (2, 'WR', 'O', '406', '103661'), (2, 'RB', 'O', '406', '103661'), (1, 'TE', 'O', '406', '103661'), (1, 'W/R/T', 'O', '406', '103661'), (1, 'K', 'K', '406', '103661'), (1, 'DEF', 'DT', '406', '103661'), (6, 'BN', None, '406', '103661'), (1, 'IR', None, '406', '103661'))
[2022-06-05 15:11:19,440 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00098s] ((1, 'QB', 'O', '406', '103661'), (2, 'WR', 'O', '406', '103661'), (2, 'RB', 'O', '406', '103661'), (1, 'TE', 'O', '406', '103661'), (1, 'W/R/T', 'O', '406', '103661'), (1, 'K', 'K', '406', '103661'), (1, 'DEF', 'DT', '406', '103661'), (6, 'BN', None, '406', '103661'), (1, 'IR', None, '406', '103661'))
[2022-06-05 15:11:19,444 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:19,444 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:19,445 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610510> being returned to pool
[2022-06-05 15:11:19,445 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610510> being returned to pool
[2022-06-05 15:11:19,445 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610510> rollback-on-return
[2022-06-05 15:11:19,445 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610510> rollback-on-return
[2022-06-05 15:11:19,446 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610510> checked out from pool
[2022-06-05 15:11:19,446 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610510> checked out from pool
[2022-06-05 15:11:19,448 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
[2022-06-05 15:11:19,448 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
[2022-06-05 15:11:19,448 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00095s] ('dbo', 'BASE TABLE')
[2022-06-05 15:11:19,448 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00095s] ('dbo', 'BASE TABLE')
[2022-06-05 15:11:19,451 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:19,451 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:19,452 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-06-05 15:11:19,452 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-06-05 15:11:19,452 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueMetaData',)
[2022-06-05 15:11:19,452 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueMetaData',)
[2022-06-05 15:11:19,453 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueSettings',)
[2022-06-05 15:11:19,453 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueSettings',)
[2022-06-05 15:11:19,454 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('NFLWeeks',)
[2022-06-05 15:11:19,454 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('NFLWeeks',)
[2022-06-05 15:11:19,455 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Players',)
[2022-06-05 15:11:19,455 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Players',)
[2022-06-05 15:11:19,455 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('RosterPositions',)
[2022-06-05 15:11:19,455 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('RosterPositions',)
[2022-06-05 15:11:19,456 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610510> being returned to pool
[2022-06-05 15:11:19,456 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610510> being returned to pool
[2022-06-05 15:11:19,457 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610510> rollback-on-return
[2022-06-05 15:11:19,457 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610510> rollback-on-return
[2022-06-05 15:11:19,458 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46112E0> being returned to pool
[2022-06-05 15:11:19,458 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46112E0> being returned to pool
[2022-06-05 15:11:19,458 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46112E0> rollback-on-return
[2022-06-05 15:11:19,458 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46112E0> rollback-on-return

RosterPositions successfully updated or added to SQL server.

[2022-06-05 15:11:20,472 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4611620>
[2022-06-05 15:11:20,472 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4611620>
[2022-06-05 15:11:20,473 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
[2022-06-05 15:11:20,473 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
[2022-06-05 15:11:20,473 INFO] [sqlalchemy.engine.Engine.base._execute_context] [raw sql] ()
[2022-06-05 15:11:20,473 INFO] [sqlalchemy.engine.Engine.base._execute_context] [raw sql] ()
[2022-06-05 15:11:20,474 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:20,474 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:20,475 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('15.0.2000.5',)
[2022-06-05 15:11:20,475 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('15.0.2000.5',)
[2022-06-05 15:11:20,476 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT schema_name()
[2022-06-05 15:11:20,476 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT schema_name()
[2022-06-05 15:11:20,477 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00050s] ()
[2022-06-05 15:11:20,477 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00050s] ()
[2022-06-05 15:11:20,478 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:20,478 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:20,478 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo',)
[2022-06-05 15:11:20,478 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo',)
[2022-06-05 15:11:20,479 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST('test max support' AS NVARCHAR(max))
[2022-06-05 15:11:20,479 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST('test max support' AS NVARCHAR(max))
[2022-06-05 15:11:20,480 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00060s] ()
[2022-06-05 15:11:20,480 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00060s] ()
[2022-06-05 15:11:20,481 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:20,481 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:20,481 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('test max support',)
[2022-06-05 15:11:20,481 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('test max support',)
[2022-06-05 15:11:20,483 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611620> checked out from pool
[2022-06-05 15:11:20,483 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611620> checked out from pool
[2022-06-05 15:11:21,502 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E46116F0>
[2022-06-05 15:11:21,502 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E46116F0>
[2022-06-05 15:11:21,503 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46116F0> checked out from pool
[2022-06-05 15:11:21,503 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46116F0> checked out from pool
[2022-06-05 15:11:21,503 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46116F0> being returned to pool
[2022-06-05 15:11:21,503 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46116F0> being returned to pool
[2022-06-05 15:11:21,504 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46116F0> rollback-on-return
[2022-06-05 15:11:21,504 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46116F0> rollback-on-return
[2022-06-05 15:11:21,504 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46116F0> checked out from pool
[2022-06-05 15:11:21,504 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46116F0> checked out from pool
[2022-06-05 15:11:21,506 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:21,506 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:21,507 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00071s] ('BASE TABLE', 'StatCategories', 'dbo')
[2022-06-05 15:11:21,507 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00071s] ('BASE TABLE', 'StatCategories', 'dbo')
[2022-06-05 15:11:21,508 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:21,508 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:21,509 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46116F0> being returned to pool
[2022-06-05 15:11:21,509 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46116F0> being returned to pool
[2022-06-05 15:11:21,510 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46116F0> rollback-on-return
[2022-06-05 15:11:21,510 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46116F0> rollback-on-return
[2022-06-05 15:11:21,511 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46116F0> checked out from pool
[2022-06-05 15:11:21,511 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46116F0> checked out from pool
[2022-06-05 15:11:21,511 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:21,511 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:21,513 INFO] [sqlalchemy.engine.Engine.base._execute_context]
CREATE TABLE dbo.[StatCategories] (
	display_name NVARCHAR(255) NULL,
	enabled INTEGER NULL,
	name NVARCHAR(255) NULL,
	position_type NVARCHAR(255) NULL,
	sort_order INTEGER NULL,
	stat_id INTEGER NULL,
	is_only_display_stat INTEGER NULL,
	game_id NVARCHAR(255) NULL,
	league_id NVARCHAR(255) NULL,
	stat_modifier FLOAT(2) NULL
)


[2022-06-05 15:11:21,513 INFO] [sqlalchemy.engine.Engine.base._execute_context]
CREATE TABLE dbo.[StatCategories] (
	display_name NVARCHAR(255) NULL,
	enabled INTEGER NULL,
	name NVARCHAR(255) NULL,
	position_type NVARCHAR(255) NULL,
	sort_order INTEGER NULL,
	stat_id INTEGER NULL,
	is_only_display_stat INTEGER NULL,
	game_id NVARCHAR(255) NULL,
	league_id NVARCHAR(255) NULL,
	stat_modifier FLOAT(2) NULL
)


[2022-06-05 15:11:21,514 INFO] [sqlalchemy.engine.Engine.base._execute_context] [no key 0.00087s] ()
[2022-06-05 15:11:21,514 INFO] [sqlalchemy.engine.Engine.base._execute_context] [no key 0.00087s] ()
[2022-06-05 15:11:21,516 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:21,516 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:21,517 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46116F0> being returned to pool
[2022-06-05 15:11:21,517 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46116F0> being returned to pool
[2022-06-05 15:11:21,517 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46116F0> rollback-on-return
[2022-06-05 15:11:21,517 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46116F0> rollback-on-return
[2022-06-05 15:11:21,518 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46116F0> checked out from pool
[2022-06-05 15:11:21,518 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46116F0> checked out from pool
[2022-06-05 15:11:21,519 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:21,519 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:21,521 INFO] [sqlalchemy.engine.Engine.base._execute_context] INSERT INTO dbo.[StatCategories] (display_name, enabled, name, position_type, sort_order, stat_id, is_only_display_stat, game_id, league_id, stat_modifier) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[2022-06-05 15:11:21,521 INFO] [sqlalchemy.engine.Engine.base._execute_context] INSERT INTO dbo.[StatCategories] (display_name, enabled, name, position_type, sort_order, stat_id, is_only_display_stat, game_id, league_id, stat_modifier) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[2022-06-05 15:11:21,521 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00124s] (('Pass Yds', 1, 'Passing Yards', 'O', 1, 4, 0, '406', '103661', 0.04), ('Pass TD', 1, 'Passing Touchdowns', 'O', 1, 5, 0, '406', '103661', 4.0), ('Int', 1, 'Interceptions', 'O', 0, 6, 0, '406', '103661', -1.0), ('Rush Att', 1, 'Rushing Attempts', 'O', 1, 8, 1, '406', '103661', None), ('Rush Yds', 1, 'Rushing Yards', 'O', 1, 9, 0, '406', '103661', 0.1), ('Rush TD', 1, 'Rushing Touchdowns', 'O', 1, 10, 0, '406', '103661', 6.0), ('Targets', 1, 'Targets', 'O', 1, 78, 1, '406', '103661', None), ('Rec', 1, 'Receptions', 'O', 1, 11, 0, '406', '103661', 0.5)  ... displaying 10 of 34 total bound parameter sets ...  ('Pts Allow 35+', 1, 'Points Allowed 35+ points', 'DT', 1, 56, 0, '406', '103661', -4.0), ('XPR', 1, 'Extra Point Returned', 'DT', 1, 82, 0, '406', '103661', 2.0))
[2022-06-05 15:11:21,521 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00124s] (('Pass Yds', 1, 'Passing Yards', 'O', 1, 4, 0, '406', '103661', 0.04), ('Pass TD', 1, 'Passing Touchdowns', 'O', 1, 5, 0, '406', '103661', 4.0), ('Int', 1, 'Interceptions', 'O', 0, 6, 0, '406', '103661', -1.0), ('Rush Att', 1, 'Rushing Attempts', 'O', 1, 8, 1, '406', '103661', None), ('Rush Yds', 1, 'Rushing Yards', 'O', 1, 9, 0, '406', '103661', 0.1), ('Rush TD', 1, 'Rushing Touchdowns', 'O', 1, 10, 0, '406', '103661', 6.0), ('Targets', 1, 'Targets', 'O', 1, 78, 1, '406', '103661', None), ('Rec', 1, 'Receptions', 'O', 1, 11, 0, '406', '103661', 0.5)  ... displaying 10 of 34 total bound parameter sets ...  ('Pts Allow 35+', 1, 'Points Allowed 35+ points', 'DT', 1, 56, 0, '406', '103661', -4.0), ('XPR', 1, 'Extra Point Returned', 'DT', 1, 82, 0, '406', '103661', 2.0))
[2022-06-05 15:11:21,541 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:21,541 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:21,542 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46116F0> being returned to pool
[2022-06-05 15:11:21,542 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46116F0> being returned to pool
[2022-06-05 15:11:21,542 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46116F0> rollback-on-return
[2022-06-05 15:11:21,542 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46116F0> rollback-on-return
[2022-06-05 15:11:21,543 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46116F0> checked out from pool
[2022-06-05 15:11:21,543 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46116F0> checked out from pool
[2022-06-05 15:11:21,545 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
[2022-06-05 15:11:21,545 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
[2022-06-05 15:11:21,545 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00072s] ('dbo', 'BASE TABLE')
[2022-06-05 15:11:21,545 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00072s] ('dbo', 'BASE TABLE')
[2022-06-05 15:11:21,548 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:21,548 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:21,549 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-06-05 15:11:21,549 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-06-05 15:11:21,549 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueMetaData',)
[2022-06-05 15:11:21,549 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueMetaData',)
[2022-06-05 15:11:21,550 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueSettings',)
[2022-06-05 15:11:21,550 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueSettings',)
[2022-06-05 15:11:21,551 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('NFLWeeks',)
[2022-06-05 15:11:21,551 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('NFLWeeks',)
[2022-06-05 15:11:21,552 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Players',)
[2022-06-05 15:11:21,552 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Players',)
[2022-06-05 15:11:21,552 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('RosterPositions',)
[2022-06-05 15:11:21,552 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('RosterPositions',)
[2022-06-05 15:11:21,553 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('StatCategories',)
[2022-06-05 15:11:21,553 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('StatCategories',)
[2022-06-05 15:11:21,554 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46116F0> being returned to pool
[2022-06-05 15:11:21,554 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46116F0> being returned to pool
[2022-06-05 15:11:21,555 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46116F0> rollback-on-return
[2022-06-05 15:11:21,555 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46116F0> rollback-on-return
[2022-06-05 15:11:21,556 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611620> being returned to pool
[2022-06-05 15:11:21,556 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611620> being returned to pool
[2022-06-05 15:11:21,556 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611620> rollback-on-return
[2022-06-05 15:11:21,556 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611620> rollback-on-return

StatCategories successfully updated or added to SQL server.

[2022-06-05 15:11:22,023 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4610920>
[2022-06-05 15:11:22,023 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4610920>
[2022-06-05 15:11:22,023 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
[2022-06-05 15:11:22,023 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
[2022-06-05 15:11:22,024 INFO] [sqlalchemy.engine.Engine.base._execute_context] [raw sql] ()
[2022-06-05 15:11:22,024 INFO] [sqlalchemy.engine.Engine.base._execute_context] [raw sql] ()
[2022-06-05 15:11:22,025 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:22,025 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:22,026 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('15.0.2000.5',)
[2022-06-05 15:11:22,026 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('15.0.2000.5',)
[2022-06-05 15:11:22,027 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT schema_name()
[2022-06-05 15:11:22,027 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT schema_name()
[2022-06-05 15:11:22,027 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00055s] ()
[2022-06-05 15:11:22,027 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00055s] ()
[2022-06-05 15:11:22,028 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:22,028 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:22,029 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo',)
[2022-06-05 15:11:22,029 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo',)
[2022-06-05 15:11:22,030 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST('test max support' AS NVARCHAR(max))
[2022-06-05 15:11:22,030 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST('test max support' AS NVARCHAR(max))
[2022-06-05 15:11:22,031 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00064s] ()
[2022-06-05 15:11:22,031 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00064s] ()
[2022-06-05 15:11:22,032 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:22,032 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:22,032 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('test max support',)
[2022-06-05 15:11:22,032 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('test max support',)
[2022-06-05 15:11:22,033 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610920> checked out from pool
[2022-06-05 15:11:22,033 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610920> checked out from pool
[2022-06-05 15:11:22,036 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4611140>
[2022-06-05 15:11:22,036 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4611140>
[2022-06-05 15:11:22,036 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611140> checked out from pool
[2022-06-05 15:11:22,036 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611140> checked out from pool
[2022-06-05 15:11:22,037 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611140> being returned to pool
[2022-06-05 15:11:22,037 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611140> being returned to pool
[2022-06-05 15:11:22,038 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611140> rollback-on-return
[2022-06-05 15:11:22,038 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611140> rollback-on-return
[2022-06-05 15:11:22,039 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611140> checked out from pool
[2022-06-05 15:11:22,039 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611140> checked out from pool
[2022-06-05 15:11:22,041 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:22,041 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:22,041 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00089s] ('BASE TABLE', 'Teams', 'dbo')
[2022-06-05 15:11:22,041 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00089s] ('BASE TABLE', 'Teams', 'dbo')
[2022-06-05 15:11:22,047 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:22,047 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:22,048 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611140> being returned to pool
[2022-06-05 15:11:22,048 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611140> being returned to pool
[2022-06-05 15:11:22,049 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611140> rollback-on-return
[2022-06-05 15:11:22,049 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611140> rollback-on-return
[2022-06-05 15:11:22,051 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611140> checked out from pool
[2022-06-05 15:11:22,051 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611140> checked out from pool
[2022-06-05 15:11:22,051 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:22,051 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:22,053 INFO] [sqlalchemy.engine.Engine.base._execute_context]
CREATE TABLE dbo.[Teams] (
	clinched_playoffs INTEGER NULL,
	draft_grade NVARCHAR(255) NULL,
	draft_recap_url NVARCHAR(255) NULL,
	faab_balance INTEGER NULL,
	has_draft_grade INTEGER NULL,
	league_scoring_type NVARCHAR(255) NULL,
	name NVARCHAR(255) NULL,
	number_of_moves INTEGER NULL,
	number_of_trades INTEGER NULL,
	team_id INTEGER NULL,
	team_key NVARCHAR(255) NULL,
	waiver_priority INTEGER NULL,
	[roster_adds.coverage_type] NVARCHAR(255) NULL,
	[roster_adds.coverage_value] INTEGER NULL,
	[roster_adds.value] INTEGER NULL,
	guid NVARCHAR(255) NULL,
	manager_id INTEGER NULL,
	nickname NVARCHAR(255) NULL,
	game_id NVARCHAR(255) NULL,
	league_id NVARCHAR(255) NULL
)


[2022-06-05 15:11:22,053 INFO] [sqlalchemy.engine.Engine.base._execute_context]
CREATE TABLE dbo.[Teams] (
	clinched_playoffs INTEGER NULL,
	draft_grade NVARCHAR(255) NULL,
	draft_recap_url NVARCHAR(255) NULL,
	faab_balance INTEGER NULL,
	has_draft_grade INTEGER NULL,
	league_scoring_type NVARCHAR(255) NULL,
	name NVARCHAR(255) NULL,
	number_of_moves INTEGER NULL,
	number_of_trades INTEGER NULL,
	team_id INTEGER NULL,
	team_key NVARCHAR(255) NULL,
	waiver_priority INTEGER NULL,
	[roster_adds.coverage_type] NVARCHAR(255) NULL,
	[roster_adds.coverage_value] INTEGER NULL,
	[roster_adds.value] INTEGER NULL,
	guid NVARCHAR(255) NULL,
	manager_id INTEGER NULL,
	nickname NVARCHAR(255) NULL,
	game_id NVARCHAR(255) NULL,
	league_id NVARCHAR(255) NULL
)


[2022-06-05 15:11:22,053 INFO] [sqlalchemy.engine.Engine.base._execute_context] [no key 0.00086s] ()
[2022-06-05 15:11:22,053 INFO] [sqlalchemy.engine.Engine.base._execute_context] [no key 0.00086s] ()
[2022-06-05 15:11:22,055 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:22,055 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:22,055 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611140> being returned to pool
[2022-06-05 15:11:22,055 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611140> being returned to pool
[2022-06-05 15:11:22,056 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611140> rollback-on-return
[2022-06-05 15:11:22,056 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611140> rollback-on-return
[2022-06-05 15:11:22,057 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611140> checked out from pool
[2022-06-05 15:11:22,057 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611140> checked out from pool
[2022-06-05 15:11:22,058 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:22,058 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:22,060 INFO] [sqlalchemy.engine.Engine.base._execute_context] INSERT INTO dbo.[Teams] (clinched_playoffs, draft_grade, draft_recap_url, faab_balance, has_draft_grade, league_scoring_type, name, number_of_moves, number_of_trades, team_id, team_key, waiver_priority, [roster_adds.coverage_type], [roster_adds.coverage_value], [roster_adds.value], guid, manager_id, nickname, game_id, league_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[2022-06-05 15:11:22,060 INFO] [sqlalchemy.engine.Engine.base._execute_context] INSERT INTO dbo.[Teams] (clinched_playoffs, draft_grade, draft_recap_url, faab_balance, has_draft_grade, league_scoring_type, name, number_of_moves, number_of_trades, team_id, team_key, waiver_priority, [roster_adds.coverage_type], [roster_adds.coverage_value], [roster_adds.value], guid, manager_id, nickname, game_id, league_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[2022-06-05 15:11:22,060 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00112s] ((1, 'B', 'https://football.fantasysports.yahoo.com/2021/f1/103661/1/draftrecap', 0, 1, 'head', 'Fantasy Sidelines', 73, 2, 1, '406.l.103661.t.1', 8, 'week', 18, 0, 'O7GVEWK7WENDLVWC5A5HD2IJ5Y', 1, 'Tim', '406', '103661'), (1, 'B-', 'https://football.fantasysports.yahoo.com/2021/f1/103661/2/draftrecap', 0, 1, 'head', 'Dak to the Future', 30, 2, 2, '406.l.103661.t.2', 1, 'week', 18, 0, '55AOAC6JFAY2M2MFV7RCYOSMYI', 2, 'Wesley', '406', '103661'), (0, 'B', 'https://football.fantasysports.yahoo.com/2021/f1/103661/3/draftrecap', 0, 1, 'head', 'Fightin Blue Cock/Chubb/Wood', 35, 0, 3, '406.l.103661.t.3', 10, 'week', 18, 0, 'NURTYROM34YVSDV7DFZNDBPMAY', 3, 'Kevin', '406', '103661'), (1, 'A-', 'https://football.fantasysports.yahoo.com/2021/f1/103661/4/draftrecap', 0, 1, 'head', 'King of the Hill', 54, 0, 4, '406.l.103661.t.4', 2, 'week', 18, 0, 'WIFGX5C4WY7VCFB5ZYEG65WFRE', 4, 'ryan', '406', '103661'), (0, 'A-', 'https://football.fantasysports.yahoo.com/2021/f1/103661/5/draftrecap', 60, 1, 'head', 'The Titanic', 12, 0, 5, '406.l.103661.t.5', 4, 'week', 18, 0, 'K5XZK5B6DWAD5X5EJKI2OCNN4A', 5, 'Jeremy', '406', '103661'), (0, 'C-', 'https://football.fantasysports.yahoo.com/2021/f1/103661/6/draftrecap', 0, 1, 'head', 'Wide Out University', 37, 0, 6, '406.l.103661.t.6', 6, 'week', 18, 0, 'QCTL3IHSUQZ634KEJTBJW5AZJM', 6, 'Chris', '406', '103661'), (1, 'C', 'https://football.fantasysports.yahoo.com/2021/f1/103661/7/draftrecap', 34, 1, 'head', 'Harris & Harris RBs at Law \u200d', 53, 0, 7, '406.l.103661.t.7', 7, 'week', 18, 0, 'XPS6HEP4KQOOGAG2HIGIJ6ZWEM', 7, 'Greg', '406', '103661'), (0, 'C+', 'https://football.fantasysports.yahoo.com/2021/f1/103661/8/draftrecap', 56, 1, 'head', 'Poor Decisions ', 32, 1, 8, '406.l.103661.t.8', 9, 'week', 18, 0, 'L3DNOFNKTGQ646BS6QOM7GTJNY', 8, 'Peter Billups', '406', '103661'), (0, 'C', 'https://football.fantasysports.yahoo.com/2021/f1/103661/9/draftrecap', 28, 1, 'head', 'Push Ups in Prison', 25, 0, 9, '406.l.103661.t.9', 3, 'week', 18, 0, '4W75HRWQNEMHR4WCIUUDRJZV6A', 9, 'Pat', '406', '103661'), (0, 'A', 'https://football.fantasysports.yahoo.com/2021/f1/103661/10/draftrecap', 44, 1, 'head', 'Team 10', 43, 1, 10, '406.l.103661.t.10', 5, 'week', 18, 0, 'SUIVCBYJ5MSGEFDRCTCP7CK45M', 10, 'James', '406', '103661'))
[2022-06-05 15:11:22,060 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00112s] ((1, 'B', 'https://football.fantasysports.yahoo.com/2021/f1/103661/1/draftrecap', 0, 1, 'head', 'Fantasy Sidelines', 73, 2, 1, '406.l.103661.t.1', 8, 'week', 18, 0, 'O7GVEWK7WENDLVWC5A5HD2IJ5Y', 1, 'Tim', '406', '103661'), (1, 'B-', 'https://football.fantasysports.yahoo.com/2021/f1/103661/2/draftrecap', 0, 1, 'head', 'Dak to the Future', 30, 2, 2, '406.l.103661.t.2', 1, 'week', 18, 0, '55AOAC6JFAY2M2MFV7RCYOSMYI', 2, 'Wesley', '406', '103661'), (0, 'B', 'https://football.fantasysports.yahoo.com/2021/f1/103661/3/draftrecap', 0, 1, 'head', 'Fightin Blue Cock/Chubb/Wood', 35, 0, 3, '406.l.103661.t.3', 10, 'week', 18, 0, 'NURTYROM34YVSDV7DFZNDBPMAY', 3, 'Kevin', '406', '103661'), (1, 'A-', 'https://football.fantasysports.yahoo.com/2021/f1/103661/4/draftrecap', 0, 1, 'head', 'King of the Hill', 54, 0, 4, '406.l.103661.t.4', 2, 'week', 18, 0, 'WIFGX5C4WY7VCFB5ZYEG65WFRE', 4, 'ryan', '406', '103661'), (0, 'A-', 'https://football.fantasysports.yahoo.com/2021/f1/103661/5/draftrecap', 60, 1, 'head', 'The Titanic', 12, 0, 5, '406.l.103661.t.5', 4, 'week', 18, 0, 'K5XZK5B6DWAD5X5EJKI2OCNN4A', 5, 'Jeremy', '406', '103661'), (0, 'C-', 'https://football.fantasysports.yahoo.com/2021/f1/103661/6/draftrecap', 0, 1, 'head', 'Wide Out University', 37, 0, 6, '406.l.103661.t.6', 6, 'week', 18, 0, 'QCTL3IHSUQZ634KEJTBJW5AZJM', 6, 'Chris', '406', '103661'), (1, 'C', 'https://football.fantasysports.yahoo.com/2021/f1/103661/7/draftrecap', 34, 1, 'head', 'Harris & Harris RBs at Law \u200d', 53, 0, 7, '406.l.103661.t.7', 7, 'week', 18, 0, 'XPS6HEP4KQOOGAG2HIGIJ6ZWEM', 7, 'Greg', '406', '103661'), (0, 'C+', 'https://football.fantasysports.yahoo.com/2021/f1/103661/8/draftrecap', 56, 1, 'head', 'Poor Decisions ', 32, 1, 8, '406.l.103661.t.8', 9, 'week', 18, 0, 'L3DNOFNKTGQ646BS6QOM7GTJNY', 8, 'Peter Billups', '406', '103661'), (0, 'C', 'https://football.fantasysports.yahoo.com/2021/f1/103661/9/draftrecap', 28, 1, 'head', 'Push Ups in Prison', 25, 0, 9, '406.l.103661.t.9', 3, 'week', 18, 0, '4W75HRWQNEMHR4WCIUUDRJZV6A', 9, 'Pat', '406', '103661'), (0, 'A', 'https://football.fantasysports.yahoo.com/2021/f1/103661/10/draftrecap', 44, 1, 'head', 'Team 10', 43, 1, 10, '406.l.103661.t.10', 5, 'week', 18, 0, 'SUIVCBYJ5MSGEFDRCTCP7CK45M', 10, 'James', '406', '103661'))
[2022-06-05 15:11:22,070 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:22,070 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:22,071 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611140> being returned to pool
[2022-06-05 15:11:22,071 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611140> being returned to pool
[2022-06-05 15:11:22,072 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611140> rollback-on-return
[2022-06-05 15:11:22,072 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611140> rollback-on-return
[2022-06-05 15:11:22,072 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611140> checked out from pool
[2022-06-05 15:11:22,072 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611140> checked out from pool
[2022-06-05 15:11:22,074 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
[2022-06-05 15:11:22,074 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
[2022-06-05 15:11:22,075 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00076s] ('dbo', 'BASE TABLE')
[2022-06-05 15:11:22,075 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00076s] ('dbo', 'BASE TABLE')
[2022-06-05 15:11:22,079 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:22,079 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:22,079 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-06-05 15:11:22,079 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-06-05 15:11:22,080 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueMetaData',)
[2022-06-05 15:11:22,080 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueMetaData',)
[2022-06-05 15:11:22,081 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueSettings',)
[2022-06-05 15:11:22,081 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueSettings',)
[2022-06-05 15:11:22,082 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('NFLWeeks',)
[2022-06-05 15:11:22,082 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('NFLWeeks',)
[2022-06-05 15:11:22,083 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Players',)
[2022-06-05 15:11:22,083 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Players',)
[2022-06-05 15:11:22,083 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('RosterPositions',)
[2022-06-05 15:11:22,083 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('RosterPositions',)
[2022-06-05 15:11:22,084 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('StatCategories',)
[2022-06-05 15:11:22,084 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('StatCategories',)
[2022-06-05 15:11:22,085 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Teams',)
[2022-06-05 15:11:22,085 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Teams',)
[2022-06-05 15:11:22,086 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611140> being returned to pool

Teams successfully updated or added to SQL server.

[2022-06-05 15:11:22,665 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4611480>
[2022-06-05 15:11:22,665 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4611480>
[2022-06-05 15:11:22,666 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
[2022-06-05 15:11:22,666 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
[2022-06-05 15:11:22,666 INFO] [sqlalchemy.engine.Engine.base._execute_context] [raw sql] ()
[2022-06-05 15:11:22,666 INFO] [sqlalchemy.engine.Engine.base._execute_context] [raw sql] ()
[2022-06-05 15:11:22,668 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:22,668 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:22,668 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('15.0.2000.5',)
[2022-06-05 15:11:22,668 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('15.0.2000.5',)
[2022-06-05 15:11:22,669 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT schema_name()
[2022-06-05 15:11:22,669 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT schema_name()
[2022-06-05 15:11:22,670 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00073s] ()
[2022-06-05 15:11:22,670 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00073s] ()
[2022-06-05 15:11:22,671 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:22,671 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:22,672 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo',)
[2022-06-05 15:11:22,672 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo',)
[2022-06-05 15:11:22,675 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST('test max support' AS NVARCHAR(max))
[2022-06-05 15:11:22,675 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST('test max support' AS NVARCHAR(max))
[2022-06-05 15:11:22,675 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00056s] ()
[2022-06-05 15:11:22,675 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00056s] ()
[2022-06-05 15:11:22,676 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:22,676 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:22,677 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('test max support',)
[2022-06-05 15:11:22,677 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('test max support',)
[2022-06-05 15:11:22,678 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611480> checked out from pool
[2022-06-05 15:11:22,678 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611480> checked out from pool
[2022-06-05 15:11:22,680 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4610ED0>
[2022-06-05 15:11:22,680 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4610ED0>
[2022-06-05 15:11:22,680 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610ED0> checked out from pool
[2022-06-05 15:11:22,680 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610ED0> checked out from pool
[2022-06-05 15:11:22,681 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610ED0> being returned to pool
[2022-06-05 15:11:22,681 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610ED0> being returned to pool
[2022-06-05 15:11:22,682 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610ED0> rollback-on-return
[2022-06-05 15:11:22,682 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610ED0> rollback-on-return
[2022-06-05 15:11:22,683 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610ED0> checked out from pool
[2022-06-05 15:11:22,683 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610ED0> checked out from pool
[2022-06-05 15:11:22,685 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:22,685 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:22,685 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00076s] ('BASE TABLE', 'DraftResults', 'dbo')
[2022-06-05 15:11:22,685 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00076s] ('BASE TABLE', 'DraftResults', 'dbo')
[2022-06-05 15:11:22,694 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:22,694 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:22,694 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610ED0> being returned to pool
[2022-06-05 15:11:22,694 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610ED0> being returned to pool
[2022-06-05 15:11:22,695 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610ED0> rollback-on-return
[2022-06-05 15:11:22,695 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610ED0> rollback-on-return
[2022-06-05 15:11:22,697 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610ED0> checked out from pool
[2022-06-05 15:11:22,697 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610ED0> checked out from pool
[2022-06-05 15:11:22,697 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:22,697 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:22,699 INFO] [sqlalchemy.engine.Engine.base._execute_context]
CREATE TABLE dbo.[DraftResults] (
	pick INTEGER NULL,
	round INTEGER NULL,
	team_key NVARCHAR(255) NULL,
	player_key NVARCHAR(255) NULL,
	game_id NVARCHAR(255) NULL,
	league_id NVARCHAR(255) NULL
)


[2022-06-05 15:11:22,699 INFO] [sqlalchemy.engine.Engine.base._execute_context]
CREATE TABLE dbo.[DraftResults] (
	pick INTEGER NULL,
	round INTEGER NULL,
	team_key NVARCHAR(255) NULL,
	player_key NVARCHAR(255) NULL,
	game_id NVARCHAR(255) NULL,
	league_id NVARCHAR(255) NULL
)


[2022-06-05 15:11:22,699 INFO] [sqlalchemy.engine.Engine.base._execute_context] [no key 0.00107s] ()
[2022-06-05 15:11:22,699 INFO] [sqlalchemy.engine.Engine.base._execute_context] [no key 0.00107s] ()
[2022-06-05 15:11:22,701 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:22,701 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:22,702 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610ED0> being returned to pool
[2022-06-05 15:11:22,702 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610ED0> being returned to pool
[2022-06-05 15:11:22,703 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610ED0> rollback-on-return
[2022-06-05 15:11:22,703 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610ED0> rollback-on-return
[2022-06-05 15:11:22,704 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610ED0> checked out from pool
[2022-06-05 15:11:22,704 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610ED0> checked out from pool
[2022-06-05 15:11:22,705 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:22,705 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:22,707 INFO] [sqlalchemy.engine.Engine.base._execute_context] INSERT INTO dbo.[DraftResults] (pick, round, team_key, player_key, game_id, league_id) VALUES (?, ?, ?, ?, ?, ?)
[2022-06-05 15:11:22,707 INFO] [sqlalchemy.engine.Engine.base._execute_context] INSERT INTO dbo.[DraftResults] (pick, round, team_key, player_key, game_id, league_id) VALUES (?, ?, ?, ?, ?, ?)
[2022-06-05 15:11:22,708 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00094s] ((1, 1, '406.l.103661.t.5', '406.p.30121', '406', '103661'), (2, 1, '406.l.103661.t.8', '406.p.30154', '406', '103661'), (3, 1, '406.l.103661.t.6', '406.p.29279', '406', '103661'), (4, 1, '406.l.103661.t.9', '406.p.30180', '406', '103661'), (5, 1, '406.l.103661.t.3', '406.p.31005', '406', '103661'), (6, 1, '406.l.103661.t.4', '406.p.30295', '406', '103661'), (7, 1, '406.l.103661.t.7', '406.p.29238', '406', '103661'), (8, 1, '406.l.103661.t.2', '406.p.32711', '406', '103661')  ... displaying 10 of 150 total bound parameter sets ...  (149, 15, '406.l.103661.t.10', '406.p.32018', '406', '103661'), (150, 15, '406.l.103661.t.1', '406.p.7520', '406', '103661'))
[2022-06-05 15:11:22,708 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00094s] ((1, 1, '406.l.103661.t.5', '406.p.30121', '406', '103661'), (2, 1, '406.l.103661.t.8', '406.p.30154', '406', '103661'), (3, 1, '406.l.103661.t.6', '406.p.29279', '406', '103661'), (4, 1, '406.l.103661.t.9', '406.p.30180', '406', '103661'), (5, 1, '406.l.103661.t.3', '406.p.31005', '406', '103661'), (6, 1, '406.l.103661.t.4', '406.p.30295', '406', '103661'), (7, 1, '406.l.103661.t.7', '406.p.29238', '406', '103661'), (8, 1, '406.l.103661.t.2', '406.p.32711', '406', '103661')  ... displaying 10 of 150 total bound parameter sets ...  (149, 15, '406.l.103661.t.10', '406.p.32018', '406', '103661'), (150, 15, '406.l.103661.t.1', '406.p.7520', '406', '103661'))
[2022-06-05 15:11:22,722 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:22,722 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:22,723 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610ED0> being returned to pool
[2022-06-05 15:11:22,723 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610ED0> being returned to pool
[2022-06-05 15:11:22,723 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610ED0> rollback-on-return
[2022-06-05 15:11:22,723 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610ED0> rollback-on-return
[2022-06-05 15:11:22,724 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610ED0> checked out from pool
[2022-06-05 15:11:22,724 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610ED0> checked out from pool
[2022-06-05 15:11:22,726 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
[2022-06-05 15:11:22,726 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
[2022-06-05 15:11:22,727 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00129s] ('dbo', 'BASE TABLE')
[2022-06-05 15:11:22,727 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00129s] ('dbo', 'BASE TABLE')
[2022-06-05 15:11:22,735 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:22,735 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:22,736 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('DraftResults',)
[2022-06-05 15:11:22,736 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('DraftResults',)
[2022-06-05 15:11:22,737 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-06-05 15:11:22,737 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-06-05 15:11:22,738 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueMetaData',)
[2022-06-05 15:11:22,738 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueMetaData',)
[2022-06-05 15:11:22,738 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueSettings',)
[2022-06-05 15:11:22,738 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueSettings',)
[2022-06-05 15:11:22,739 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('NFLWeeks',)
[2022-06-05 15:11:22,739 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('NFLWeeks',)
[2022-06-05 15:11:22,740 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Players',)
[2022-06-05 15:11:22,740 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Players',)
[2022-06-05 15:11:22,741 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('RosterPositions',)
[2022-06-05 15:11:22,741 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('RosterPositions',)
[2022-06-05 15:11:22,741 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('StatCategories',)
[2022-06-05 15:11:22,741 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('StatCategories',)
[2022-06-05 15:11:22,742 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Teams',)
[2022-06-05 15:11:22,742 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Teams',)
[2022-06-05 15:11:22,743 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610ED0> being returned to pool
[2022-06-05 15:11:22,743 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4610ED0> being returned to pool
[2022-06-05 15:11:22,743 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610ED0> rollback-on-return
[2022-06-05 15:11:22,743 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4610ED0> rollback-on-return
[2022-06-05 15:11:22,744 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611480> being returned to pool
[2022-06-05 15:11:22,744 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611480> being returned to pool
[2022-06-05 15:11:22,745 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611480> rollback-on-return
[2022-06-05 15:11:22,745 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611480> rollback-on-return

DraftResults successfully updated or added to SQL server.

[2022-06-05 15:11:34,636 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4610C60>
[2022-06-05 15:11:34,636 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4610C60>
[2022-06-05 15:11:34,637 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
[2022-06-05 15:11:34,637 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
[2022-06-05 15:11:34,638 INFO] [sqlalchemy.engine.Engine.base._execute_context] [raw sql] ()
[2022-06-05 15:11:34,638 INFO] [sqlalchemy.engine.Engine.base._execute_context] [raw sql] ()
[2022-06-05 15:11:34,638 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:34,638 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:34,639 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('15.0.2000.5',)
[2022-06-05 15:11:34,639 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('15.0.2000.5',)
[2022-06-05 15:11:34,640 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT schema_name()
[2022-06-05 15:11:34,640 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT schema_name()
[2022-06-05 15:11:34,641 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00092s] ()
[2022-06-05 15:11:34,641 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00092s] ()
[2022-06-05 15:11:34,642 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:34,642 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:34,643 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo',)
[2022-06-05 15:11:34,643 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo',)
[2022-06-05 15:11:34,645 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST('test max support' AS NVARCHAR(max))
[2022-06-05 15:11:34,645 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST('test max support' AS NVARCHAR(max))
[2022-06-05 15:11:34,646 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00060s] ()
[2022-06-05 15:11:34,646 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00060s] ()
[2022-06-05 15:11:34,647 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:34,647 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:34,647 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('test max support',)
[2022-06-05 15:11:34,647 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('test max support',)
[2022-06-05 15:11:34,648 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610C60> checked out from pool
[2022-06-05 15:11:34,648 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4610C60> checked out from pool
[2022-06-05 15:11:34,651 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E46113B0>
[2022-06-05 15:11:34,651 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E46113B0>
[2022-06-05 15:11:34,651 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46113B0> checked out from pool
[2022-06-05 15:11:34,651 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46113B0> checked out from pool
[2022-06-05 15:11:34,652 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46113B0> being returned to pool
[2022-06-05 15:11:34,652 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46113B0> being returned to pool
[2022-06-05 15:11:34,653 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46113B0> rollback-on-return
[2022-06-05 15:11:34,653 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46113B0> rollback-on-return
[2022-06-05 15:11:34,654 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46113B0> checked out from pool
[2022-06-05 15:11:34,654 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46113B0> checked out from pool
[2022-06-05 15:11:34,656 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:34,656 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:34,657 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00111s] ('BASE TABLE', 'Matchups', 'dbo')
[2022-06-05 15:11:34,657 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00111s] ('BASE TABLE', 'Matchups', 'dbo')
[2022-06-05 15:11:34,665 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:34,665 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:34,666 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46113B0> being returned to pool
[2022-06-05 15:11:34,666 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46113B0> being returned to pool
[2022-06-05 15:11:34,667 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46113B0> rollback-on-return
[2022-06-05 15:11:34,667 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46113B0> rollback-on-return
[2022-06-05 15:11:34,668 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46113B0> checked out from pool
[2022-06-05 15:11:34,668 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46113B0> checked out from pool
[2022-06-05 15:11:34,669 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:34,669 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:34,670 INFO] [sqlalchemy.engine.Engine.base._execute_context]
CREATE TABLE dbo.[Matchups] (
	is_consolation INTEGER NULL,
	is_matchup_recap_available INTEGER NULL,
	is_playoffs INTEGER NULL,
	is_tied INTEGER NULL,
	matchup_recap_title NVARCHAR(255) NULL,
	matchup_recap_url NVARCHAR(255) NULL,
	status NVARCHAR(255) NULL,
	week INTEGER NULL,
	week_end NVARCHAR(255) NULL,
	week_start NVARCHAR(255) NULL,
	winner_team_key NVARCHAR(255) NULL,
	team_a_grade NVARCHAR(255) NULL,
	team_a_team_key NVARCHAR(255) NULL,
	team_a_points FLOAT(2) NULL,
	team_a_projected_points FLOAT(2) NULL,
	team_b_grade NVARCHAR(255) NULL,
	team_b_team_key NVARCHAR(255) NULL,
	team_b_points FLOAT(2) NULL,
	team_b_projected_points FLOAT(2) NULL,
	game_id NVARCHAR(255) NULL,
	league_id NVARCHAR(255) NULL
)


[2022-06-05 15:11:34,670 INFO] [sqlalchemy.engine.Engine.base._execute_context]
CREATE TABLE dbo.[Matchups] (
	is_consolation INTEGER NULL,
	is_matchup_recap_available INTEGER NULL,
	is_playoffs INTEGER NULL,
	is_tied INTEGER NULL,
	matchup_recap_title NVARCHAR(255) NULL,
	matchup_recap_url NVARCHAR(255) NULL,
	status NVARCHAR(255) NULL,
	week INTEGER NULL,
	week_end NVARCHAR(255) NULL,
	week_start NVARCHAR(255) NULL,
	winner_team_key NVARCHAR(255) NULL,
	team_a_grade NVARCHAR(255) NULL,
	team_a_team_key NVARCHAR(255) NULL,
	team_a_points FLOAT(2) NULL,
	team_a_projected_points FLOAT(2) NULL,
	team_b_grade NVARCHAR(255) NULL,
	team_b_team_key NVARCHAR(255) NULL,
	team_b_points FLOAT(2) NULL,
	team_b_projected_points FLOAT(2) NULL,
	game_id NVARCHAR(255) NULL,
	league_id NVARCHAR(255) NULL
)


[2022-06-05 15:11:34,671 INFO] [sqlalchemy.engine.Engine.base._execute_context] [no key 0.00109s] ()
[2022-06-05 15:11:34,671 INFO] [sqlalchemy.engine.Engine.base._execute_context] [no key 0.00109s] ()
[2022-06-05 15:11:34,673 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:34,673 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:34,674 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46113B0> being returned to pool
[2022-06-05 15:11:34,674 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46113B0> being returned to pool
[2022-06-05 15:11:34,675 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46113B0> rollback-on-return
[2022-06-05 15:11:34,675 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46113B0> rollback-on-return
[2022-06-05 15:11:34,676 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46113B0> checked out from pool
[2022-06-05 15:11:34,676 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46113B0> checked out from pool
[2022-06-05 15:11:34,677 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:34,677 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:34,679 INFO] [sqlalchemy.engine.Engine.base._execute_context] INSERT INTO dbo.[Matchups] (is_consolation, is_matchup_recap_available, is_playoffs, is_tied, matchup_recap_title, matchup_recap_url, status, week, week_end, week_start, winner_team_key, team_a_grade, team_a_team_key, team_a_points, team_a_projected_points, team_b_grade, team_b_team_key, team_b_points, team_b_projected_points, game_id, league_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[2022-06-05 15:11:34,679 INFO] [sqlalchemy.engine.Engine.base._execute_context] INSERT INTO dbo.[Matchups] (is_consolation, is_matchup_recap_available, is_playoffs, is_tied, matchup_recap_title, matchup_recap_url, status, week, week_end, week_start, winner_team_key, team_a_grade, team_a_team_key, team_a_points, team_a_projected_points, team_b_grade, team_b_team_key, team_b_points, team_b_projected_points, game_id, league_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[2022-06-05 15:11:34,680 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00210s] ((0, 1, 1, 0, 'Harris & Harris RBs at Law \u200d defy projections, knock off Fantasy Sidelines in 162.82-130.70 romp', 'https://football.fantasysports.yahoo.com/2021/f1/103661/recap?week=17&mid1=1&mid2=7', 'postevent', 17, '2022-01-03', '2021-12-28', '406.l.103661.t.7', 'B+', '406.l.103661.t.1', 130.7, 125.13, 'A+', '406.l.103661.t.7', 162.82, 131.13, '406', '103661'), (0, 1, 1, 0, 'Back-and-forth battle ends with Dak to the Future coming back to defeat King of the Hill in 103.94-101.16 battle', 'https://football.fantasysports.yahoo.com/2021/f1/103661/recap?week=17&mid1=2&mid2=4', 'postevent', 17, '2022-01-03', '2021-12-28', '406.l.103661.t.2', 'C', '406.l.103661.t.2', 103.94, 124.62, 'C', '406.l.103661.t.4', 101.16, 129.3, '406', '103661'), (1, 1, 1, 0, 'Push Ups in Prison hand Fightin Blue Cock/Chubb/Wood fourth consecutive loss, 103.08-97.46', 'https://football.fantasysports.yahoo.com/2021/f1/103661/recap?week=17&mid1=3&mid2=9', 'postevent', 17, '2022-01-03', '2021-12-28', '406.l.103661.t.9', 'C', '406.l.103661.t.3', 97.46, 121.63, 'C+', '406.l.103661.t.9', 103.08, 119.58, '406', '103661'), (1, 1, 1, 0, 'Wide Out University smirk at expectations, defeat Poor Decisions , 119.30-102.32', 'https://football.fantasysports.yahoo.com/2021/f1/103661/recap?week=17&mid1=6&mid2=8', 'postevent', 17, '2022-01-03', '2021-12-28', '406.l.103661.t.6', 'B', '406.l.103661.t.6', 119.3, 106.31, 'B-', '406.l.103661.t.8', 102.32, 116.64, '406', '103661'), (0, 1, 0, 0, 'Fantasy Sidelines top Wide Out University, 125.26-118.40', 'https://football.fantasysports.yahoo.com/2021/f1/103661/recap?week=1&mid1=1&mid2=6', 'postevent', 1, '2021-09-13', '2021-09-09', '406.l.103661.t.1', 'B+', '406.l.103661.t.1', 125.26, 125.12, 'B', '406.l.103661.t.6', 118.4, 123.97, '406', '103661'), (0, 1, 0, 0, 'Push Ups in Prison lose to Dak to the Future in 127.42-103.38 rout', 'https://football.fantasysports.yahoo.com/2021/f1/103661/recap?week=1&mid1=2&mid2=9', 'postevent', 1, '2021-09-13', '2021-09-09', '406.l.103661.t.2', 'A', '406.l.103661.t.2', 127.42, 126.83, 'C', '406.l.103661.t.9', 103.38, 126.61, '406', '103661'), (0, 1, 0, 0, 'Harris & Harris RBs at Law succumb to Fightin Blue Cock/Chubb/Wood, 109.94-95.96', 'https://football.fantasysports.yahoo.com/2021/f1/103661/recap?week=1&mid1=3&mid2=7', 'postevent', 1, '2021-09-13', '2021-09-09', '406.l.103661.t.3', 'B', '406.l.103661.t.3', 109.94, 120.17, 'C', '406.l.103661.t.7', 95.96, 124.59, '406', '103661'), (0, 1, 0, 0, 'Despite top scorer Cooper, Poor Decisions  fall to King of the Hill, 131.32-120.02', 'https://football.fantasysports.yahoo.com/2021/f1/103661/recap?week=1&mid1=4&mid2=8', 'postevent', 1, '2021-09-13', '2021-09-09', '406.l.103661.t.4', 'A', '406.l.103661.t.4', 131.32, 130.74, 'A-', '406.l.103661.t.8', 120.02, 129.37, '406', '103661')  ... displaying 10 of 87 total bound parameter sets ...  (1, 1, 1, 0, 'Push Ups in Prison hand Fightin Blue Cock/Chubb/Wood fourth consecutive loss, 103.08-97.46', 'https://football.fantasysports.yahoo.com/2021/f1/103661/recap?week=17&mid1=3&mid2=9', 'postevent', 17, '2022-01-03', '2021-12-28', '406.l.103661.t.9', 'C', '406.l.103661.t.3', 97.46, 121.63, 'C+', '406.l.103661.t.9', 103.08, 119.58, '406', '103661'), (1, 1, 1, 0, 'Wide Out University smirk at expectations, defeat Poor Decisions , 119.30-102.32', 'https://football.fantasysports.yahoo.com/2021/f1/103661/recap?week=17&mid1=6&mid2=8', 'postevent', 17, '2022-01-03', '2021-12-28', '406.l.103661.t.6', 'B', '406.l.103661.t.6', 119.3, 106.31, 'B-', '406.l.103661.t.8', 102.32, 116.64, '406', '103661'))
[2022-06-05 15:11:34,680 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00210s] ((0, 1, 1, 0, 'Harris & Harris RBs at Law \u200d defy projections, knock off Fantasy Sidelines in 162.82-130.70 romp', 'https://football.fantasysports.yahoo.com/2021/f1/103661/recap?week=17&mid1=1&mid2=7', 'postevent', 17, '2022-01-03', '2021-12-28', '406.l.103661.t.7', 'B+', '406.l.103661.t.1', 130.7, 125.13, 'A+', '406.l.103661.t.7', 162.82, 131.13, '406', '103661'), (0, 1, 1, 0, 'Back-and-forth battle ends with Dak to the Future coming back to defeat King of the Hill in 103.94-101.16 battle', 'https://football.fantasysports.yahoo.com/2021/f1/103661/recap?week=17&mid1=2&mid2=4', 'postevent', 17, '2022-01-03', '2021-12-28', '406.l.103661.t.2', 'C', '406.l.103661.t.2', 103.94, 124.62, 'C', '406.l.103661.t.4', 101.16, 129.3, '406', '103661'), (1, 1, 1, 0, 'Push Ups in Prison hand Fightin Blue Cock/Chubb/Wood fourth consecutive loss, 103.08-97.46', 'https://football.fantasysports.yahoo.com/2021/f1/103661/recap?week=17&mid1=3&mid2=9', 'postevent', 17, '2022-01-03', '2021-12-28', '406.l.103661.t.9', 'C', '406.l.103661.t.3', 97.46, 121.63, 'C+', '406.l.103661.t.9', 103.08, 119.58, '406', '103661'), (1, 1, 1, 0, 'Wide Out University smirk at expectations, defeat Poor Decisions , 119.30-102.32', 'https://football.fantasysports.yahoo.com/2021/f1/103661/recap?week=17&mid1=6&mid2=8', 'postevent', 17, '2022-01-03', '2021-12-28', '406.l.103661.t.6', 'B', '406.l.103661.t.6', 119.3, 106.31, 'B-', '406.l.103661.t.8', 102.32, 116.64, '406', '103661'), (0, 1, 0, 0, 'Fantasy Sidelines top Wide Out University, 125.26-118.40', 'https://football.fantasysports.yahoo.com/2021/f1/103661/recap?week=1&mid1=1&mid2=6', 'postevent', 1, '2021-09-13', '2021-09-09', '406.l.103661.t.1', 'B+', '406.l.103661.t.1', 125.26, 125.12, 'B', '406.l.103661.t.6', 118.4, 123.97, '406', '103661'), (0, 1, 0, 0, 'Push Ups in Prison lose to Dak to the Future in 127.42-103.38 rout', 'https://football.fantasysports.yahoo.com/2021/f1/103661/recap?week=1&mid1=2&mid2=9', 'postevent', 1, '2021-09-13', '2021-09-09', '406.l.103661.t.2', 'A', '406.l.103661.t.2', 127.42, 126.83, 'C', '406.l.103661.t.9', 103.38, 126.61, '406', '103661'), (0, 1, 0, 0, 'Harris & Harris RBs at Law succumb to Fightin Blue Cock/Chubb/Wood, 109.94-95.96', 'https://football.fantasysports.yahoo.com/2021/f1/103661/recap?week=1&mid1=3&mid2=7', 'postevent', 1, '2021-09-13', '2021-09-09', '406.l.103661.t.3', 'B', '406.l.103661.t.3', 109.94, 120.17, 'C', '406.l.103661.t.7', 95.96, 124.59, '406', '103661'), (0, 1, 0, 0, 'Despite top scorer Cooper, Poor Decisions  fall to King of the Hill, 131.32-120.02', 'https://football.fantasysports.yahoo.com/2021/f1/103661/recap?week=1&mid1=4&mid2=8', 'postevent', 1, '2021-09-13', '2021-09-09', '406.l.103661.t.4', 'A', '406.l.103661.t.4', 131.32, 130.74, 'A-', '406.l.103661.t.8', 120.02, 129.37, '406', '103661')  ... displaying 10 of 87 total bound parameter sets ...  (1, 1, 1, 0, 'Push Ups in Prison hand Fightin Blue Cock/Chubb/Wood fourth consecutive loss, 103.08-97.46', 'https://football.fantasysports.yahoo.com/2021/f1/103661/recap?week=17&mid1=3&mid2=9', 'postevent', 17, '2022-01-03', '2021-12-28', '406.l.103661.t.9', 'C', '406.l.103661.t.3', 97.46, 121.63, 'C+', '406.l.103661.t.9', 103.08, 119.58, '406', '103661'), (1, 1, 1, 0, 'Wide Out University smirk at expectations, defeat Poor Decisions , 119.30-102.32', 'https://football.fantasysports.yahoo.com/2021/f1/103661/recap?week=17&mid1=6&mid2=8', 'postevent', 17, '2022-01-03', '2021-12-28', '406.l.103661.t.6', 'B', '406.l.103661.t.6', 119.3, 106.31, 'B-', '406.l.103661.t.8', 102.32, 116.64, '406', '103661'))
[2022-06-05 15:11:34,748 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:34,748 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:34,749 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46113B0> being returned to pool
[2022-06-05 15:11:34,749 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E46113B0> being returned to pool
[2022-06-05 15:11:34,750 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46113B0> rollback-on-return
[2022-06-05 15:11:34,750 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E46113B0> rollback-on-return
[2022-06-05 15:11:34,751 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46113B0> checked out from pool
[2022-06-05 15:11:34,751 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E46113B0> checked out from pool
[2022-06-05 15:11:34,752 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]

Matchups successfully updated or added to SQL server.

2022-06-05 15:11:38.469 - ERROR - query.py - yfpy.query:197 - Attempt to retrieve data at URL https://fantasysports.yahooapis.com/fantasy/v2/team/406.l.103661.t.11/standings?format=json failed with error: "Team key 406.l.103661.t.11 does not exist."
[2022-06-05 15:11:38,471 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4612250>
[2022-06-05 15:11:38,471 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4612250>
[2022-06-05 15:11:38,472 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
[2022-06-05 15:11:38,472 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
[2022-06-05 15:11:38,473 INFO] [sqlalchemy.engine.Engine.base._execute_context] [raw sql] ()
[2022-06-05 15:11:38,473 INFO] [sqlalchemy.engine.Engine.base._execute_context] [raw sql] ()
[2022-06-05 15:11:38,474 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:38,474 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:38,475 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('15.0.2000.5',)
[2022-06-05 15:11:38,475 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('15.0.2000.5',)
[2022-06-05 15:11:38,477 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT schema_name()
[2022-06-05 15:11:38,477 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT schema_name()
[2022-06-05 15:11:38,477 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00078s] ()
[2022-06-05 15:11:38,477 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00078s] ()
[2022-06-05 15:11:38,478 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:38,478 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:38,479 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo',)
[2022-06-05 15:11:38,479 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('dbo',)
[2022-06-05 15:11:38,480 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST('test max support' AS NVARCHAR(max))
[2022-06-05 15:11:38,480 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT CAST('test max support' AS NVARCHAR(max))
[2022-06-05 15:11:38,481 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00067s] ()
[2022-06-05 15:11:38,481 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00067s] ()
[2022-06-05 15:11:38,482 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:38,482 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('',)
[2022-06-05 15:11:38,483 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('test max support',)
[2022-06-05 15:11:38,483 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('test max support',)
[2022-06-05 15:11:38,484 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4612250> checked out from pool
[2022-06-05 15:11:38,484 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4612250> checked out from pool
[2022-06-05 15:11:38,486 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4611140>
[2022-06-05 15:11:38,486 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.__connect] Created new connection <pyodbc.Connection object at 0x00000138E4611140>
[2022-06-05 15:11:38,487 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611140> checked out from pool
[2022-06-05 15:11:38,487 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611140> checked out from pool
[2022-06-05 15:11:38,487 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611140> being returned to pool
[2022-06-05 15:11:38,487 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611140> being returned to pool
[2022-06-05 15:11:38,488 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611140> rollback-on-return
[2022-06-05 15:11:38,488 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611140> rollback-on-return
[2022-06-05 15:11:38,489 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611140> checked out from pool
[2022-06-05 15:11:38,489 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611140> checked out from pool
[2022-06-05 15:11:38,491 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:38,491 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
[2022-06-05 15:11:38,492 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00081s] ('BASE TABLE', 'Standings', 'dbo')
[2022-06-05 15:11:38,492 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00081s] ('BASE TABLE', 'Standings', 'dbo')
[2022-06-05 15:11:38,498 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:38,498 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:38,499 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611140> being returned to pool
[2022-06-05 15:11:38,499 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611140> being returned to pool
[2022-06-05 15:11:38,500 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611140> rollback-on-return
[2022-06-05 15:11:38,500 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611140> rollback-on-return
[2022-06-05 15:11:38,501 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611140> checked out from pool
[2022-06-05 15:11:38,501 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611140> checked out from pool
[2022-06-05 15:11:38,502 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:38,502 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:38,503 INFO] [sqlalchemy.engine.Engine.base._execute_context]
CREATE TABLE dbo.[Standings] (
	playoff_seed FLOAT(2) NULL,
	points_against FLOAT(2) NULL,
	points_for FLOAT(2) NULL,
	rank INTEGER NULL,
	[outcome_totals.losses] INTEGER NULL,
	[outcome_totals.percentage] FLOAT(2) NULL,
	[outcome_totals.ties] INTEGER NULL,
	[outcome_totals.wins] INTEGER NULL,
	[streak.type] NVARCHAR(255) NULL,
	[streak.value] INTEGER NULL,
	team_id INTEGER NULL,
	game_id NVARCHAR(255) NULL,
	league_id NVARCHAR(255) NULL
)


[2022-06-05 15:11:38,503 INFO] [sqlalchemy.engine.Engine.base._execute_context]
CREATE TABLE dbo.[Standings] (
	playoff_seed FLOAT(2) NULL,
	points_against FLOAT(2) NULL,
	points_for FLOAT(2) NULL,
	rank INTEGER NULL,
	[outcome_totals.losses] INTEGER NULL,
	[outcome_totals.percentage] FLOAT(2) NULL,
	[outcome_totals.ties] INTEGER NULL,
	[outcome_totals.wins] INTEGER NULL,
	[streak.type] NVARCHAR(255) NULL,
	[streak.value] INTEGER NULL,
	team_id INTEGER NULL,
	game_id NVARCHAR(255) NULL,
	league_id NVARCHAR(255) NULL
)


[2022-06-05 15:11:38,503 INFO] [sqlalchemy.engine.Engine.base._execute_context] [no key 0.00074s] ()
[2022-06-05 15:11:38,503 INFO] [sqlalchemy.engine.Engine.base._execute_context] [no key 0.00074s] ()
[2022-06-05 15:11:38,505 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:38,505 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:38,506 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611140> being returned to pool
[2022-06-05 15:11:38,506 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611140> being returned to pool
[2022-06-05 15:11:38,506 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611140> rollback-on-return
[2022-06-05 15:11:38,506 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611140> rollback-on-return
[2022-06-05 15:11:38,508 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611140> checked out from pool
[2022-06-05 15:11:38,508 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611140> checked out from pool
[2022-06-05 15:11:38,508 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:38,508 INFO] [sqlalchemy.engine.Engine.base._begin_impl] BEGIN (implicit)
[2022-06-05 15:11:38,510 INFO] [sqlalchemy.engine.Engine.base._execute_context] INSERT INTO dbo.[Standings] (playoff_seed, points_against, points_for, rank, [outcome_totals.losses], [outcome_totals.percentage], [outcome_totals.ties], [outcome_totals.wins], [streak.type], [streak.value], team_id, game_id, league_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[2022-06-05 15:11:38,510 INFO] [sqlalchemy.engine.Engine.base._execute_context] INSERT INTO dbo.[Standings] (playoff_seed, points_against, points_for, rank, [outcome_totals.losses], [outcome_totals.percentage], [outcome_totals.ties], [outcome_totals.wins], [streak.type], [streak.value], team_id, game_id, league_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[2022-06-05 15:11:38,511 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00081s] ((1.0, 1658.44, 1725.32, 2, 4, 0.733, 0, 11, 'win', 1, 1, '406', '103661'), (4.0, 1630.1200000000001, 1648.42, 3, 7, 0.533, 0, 8, 'loss', 2, 2, '406', '103661'), (6.0, 1662.5599999999997, 1612.4, 6, 7, 0.533, 0, 8, 'loss', 4, 3, '406', '103661'), (2.0, 1600.3800000000003, 1854.08, 4, 5, 0.667, 0, 10, 'win', 4, 4, '406', '103661'), (None, 1685.9599999999996, 1462.04, 10, 10, 0.333, 0, 5, 'loss', 3, 5, '406', '103661'), (5.0, 1785.8400000000001, 1758.14, 7, 9, 0.4, 0, 6, 'win', 2, 6, '406', '103661'), (3.0, 1560.2999999999997, 1799.5, 1, 6, 0.6, 0, 9, 'loss', 1, 7, '406', '103661'), (7.0, 1600.58, 1638.68, 8, 8, 0.467, 0, 7, 'win', 4, 8, '406', '103661'), (8.0, 1698.3200000000002, 1603.22, 5, 10, 0.333, 0, 5, 'loss', 1, 9, '406', '103661'), (None, 1719.8199999999997, 1500.52, 8, 9, 0.4, 0, 6, 'win', 1, 10, '406', '103661'))
[2022-06-05 15:11:38,511 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00081s] ((1.0, 1658.44, 1725.32, 2, 4, 0.733, 0, 11, 'win', 1, 1, '406', '103661'), (4.0, 1630.1200000000001, 1648.42, 3, 7, 0.533, 0, 8, 'loss', 2, 2, '406', '103661'), (6.0, 1662.5599999999997, 1612.4, 6, 7, 0.533, 0, 8, 'loss', 4, 3, '406', '103661'), (2.0, 1600.3800000000003, 1854.08, 4, 5, 0.667, 0, 10, 'win', 4, 4, '406', '103661'), (None, 1685.9599999999996, 1462.04, 10, 10, 0.333, 0, 5, 'loss', 3, 5, '406', '103661'), (5.0, 1785.8400000000001, 1758.14, 7, 9, 0.4, 0, 6, 'win', 2, 6, '406', '103661'), (3.0, 1560.2999999999997, 1799.5, 1, 6, 0.6, 0, 9, 'loss', 1, 7, '406', '103661'), (7.0, 1600.58, 1638.68, 8, 8, 0.467, 0, 7, 'win', 4, 8, '406', '103661'), (8.0, 1698.3200000000002, 1603.22, 5, 10, 0.333, 0, 5, 'loss', 1, 9, '406', '103661'), (None, 1719.8199999999997, 1500.52, 8, 9, 0.4, 0, 6, 'win', 1, 10, '406', '103661'))
[2022-06-05 15:11:38,517 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:38,517 INFO] [sqlalchemy.engine.Engine.base._commit_impl] COMMIT
[2022-06-05 15:11:38,518 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611140> being returned to pool
[2022-06-05 15:11:38,518 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611140> being returned to pool
[2022-06-05 15:11:38,518 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611140> rollback-on-return
[2022-06-05 15:11:38,518 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611140> rollback-on-return
[2022-06-05 15:11:38,519 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611140> checked out from pool
[2022-06-05 15:11:38,519 DEBUG] [sqlalchemy.pool.impl.QueuePool.base.checkout] Connection <pyodbc.Connection object at 0x00000138E4611140> checked out from pool
[2022-06-05 15:11:38,521 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
[2022-06-05 15:11:38,521 INFO] [sqlalchemy.engine.Engine.base._execute_context] SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
[2022-06-05 15:11:38,521 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00080s] ('dbo', 'BASE TABLE')
[2022-06-05 15:11:38,521 INFO] [sqlalchemy.engine.Engine.base._execute_context] [generated in 0.00080s] ('dbo', 'BASE TABLE')
[2022-06-05 15:11:38,525 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:38,525 DEBUG] [sqlalchemy.engine.Engine.cursor._init_metadata] Col ('TABLE_NAME',)
[2022-06-05 15:11:38,525 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('DraftResults',)
[2022-06-05 15:11:38,525 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('DraftResults',)
[2022-06-05 15:11:38,526 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-06-05 15:11:38,526 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('GameKeys',)
[2022-06-05 15:11:38,527 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueMetaData',)
[2022-06-05 15:11:38,527 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueMetaData',)
[2022-06-05 15:11:38,528 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueSettings',)
[2022-06-05 15:11:38,528 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('LeagueSettings',)
[2022-06-05 15:11:38,529 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Matchups',)
[2022-06-05 15:11:38,529 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Matchups',)
[2022-06-05 15:11:38,529 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('NFLWeeks',)
[2022-06-05 15:11:38,529 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('NFLWeeks',)
[2022-06-05 15:11:38,530 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Players',)
[2022-06-05 15:11:38,530 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Players',)
[2022-06-05 15:11:38,531 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('RosterPositions',)
[2022-06-05 15:11:38,531 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('RosterPositions',)
[2022-06-05 15:11:38,532 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Standings',)
[2022-06-05 15:11:38,532 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Standings',)
[2022-06-05 15:11:38,532 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('StatCategories',)
[2022-06-05 15:11:38,532 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('StatCategories',)
[2022-06-05 15:11:38,533 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Teams',)
[2022-06-05 15:11:38,533 DEBUG] [sqlalchemy.engine.Engine.cursor.log_row] Row ('Teams',)
[2022-06-05 15:11:38,534 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611140> being returned to pool
[2022-06-05 15:11:38,534 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4611140> being returned to pool
[2022-06-05 15:11:38,534 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611140> rollback-on-return
[2022-06-05 15:11:38,534 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4611140> rollback-on-return
[2022-06-05 15:11:38,535 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4612250> being returned to pool
[2022-06-05 15:11:38,535 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._finalize_fairy] Connection <pyodbc.Connection object at 0x00000138E4612250> being returned to pool
[2022-06-05 15:11:38,536 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4612250> rollback-on-return
[2022-06-05 15:11:38,536 DEBUG] [sqlalchemy.pool.impl.QueuePool.base._reset] Connection <pyodbc.Connection object at 0x00000138E4612250> rollback-on-return

Standings successfully updated or added to SQL server.

In [5]:
rosters = league.team_roster_by_week(first_time)

In [ ]:
players = league.players_list(first_time)
player_stats = league.player_stats_by_week(first_time)